Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

added
  packages/skeleton/src/index.tsx
Due: none

move dataTable component to its own package
  package.json
  packages/data-table/.gitignore
  packages/data-table/.prettierrc
  packages/data-table/README.md
  packages/data-table/babel.config.js
  packages/data-table/src/DataCol.tsx
  packages/data-table/src/DataCols.tsx
  packages/data-table/src/DataRow.tsx
  packages/data-table/src/DataRows.tsx
  packages/data-table/src/DataTable.tsx
  packages/data-table/src/index.tsx
  packages/data-table/tsconfig.json
Due: none

update
  website/docs/installation.mdx
  website/docs/migration-guide.md
  website/docusaurus.config.js
  website/src/components/Features.tsx
  website/src/components/RunOnExpo.tsx
  website/static/css/custom.css
  website/versioned_docs/version-4.0.0-beta.0/contributing.md
  website/versioned_docs/version-4.0.0-beta.0/repo/contributing.md
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
Due: none

update website
  website/docs/installation.mdx
  website/docs/overview.mdx
  website/package.json
  website/src/components/Features.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/SnackDemo.tsx
  website/src/pages/index.tsx
  website/static/css/custom.css
  website/yarn.lock
Due: none

update
  website/docs/overview.mdx
  website/src/components/Features.tsx
  website/static/css/custom.css
Due: none

update
  website/src/components/Installation.tsx
  website/src/pages/index.tsx
Due: none

update
  website/src/components/Sponsor.tsx
Due: none

chore(website): update layout (#3359)
  website/docs/installation.mdx
  website/docs/migration-guide.md
  website/docs/overview.mdx
  website/docusaurus.config.js
  website/package.json
  website/src/components/Features.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/SnackDemo.tsx
  website/src/components/Sponsor.tsx
  website/src/pages/index.tsx
  website/static/css/custom.css
  website/versioned_docs/version-4.0.0-beta.0/contributing.md
  website/versioned_docs/version-4.0.0-beta.0/repo/contributing.md
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
  website/yarn.lock
Due: none

changes
  packages/base/src/Button/Button.tsx
  packages/base/src/Header/Header.tsx
  packages/base/src/ListItem/ListItem.Accordion.tsx
  packages/base/src/Slider/Slider.tsx
  packages/base/src/Tile/Tile.tsx
  packages/circular-slider/package.json
  packages/circular-slider/src/CircularSlider/CircularSlider.tsx
  packages/themed/package.json
  website/babel.config.json
  website/docusaurus.config.js
  website/package.json
  website/scripts/docgen/docgenParser.ts
  website/scripts/docgen/generateComponentDocs.ts
  website/scripts/docgen/generateDocumentation.ts
  website/scripts/docgen/generateMarkdown.ts
  website/scripts/docgen/generateSidebar.ts
  website/scripts/docgen/getComponentFiles.ts
  website/scripts/docgen/index.ts
  website/scripts/docgen/utils.ts
  website/sidebars.json
  website/sidebars.ts
  website/src/components/Features.tsx
  website/src/components/Sponsor.tsx
  website/src/components/VSCodeExt.tsx
  website/static/css/custom.css
  website/tsconfig.json
  website/yarn.lock
  yarn.lock
Due: base, themed

example: Swipeable new props
  example/src/views/lists2.tsx
Due: none

update example
  example/src/views/lists2.tsx
Due: none

example: update ListItem.Swipeable view (#3365)
  example/src/views/lists2.tsx
Due: none

update
  website/docs/overview.mdx
  website/docs/universe/getting_started.md
  website/docusaurus.config.js
  website/sponsors.config.ts
  website/src/components/Features.tsx
  website/src/components/IconTag.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/SectionHeader.tsx
  website/src/components/Sponsor.tsx
  website/src/components/VSCodeExt.tsx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
  website/static/img/website/slack.png
Due: none

website: update homepage layout (#3366)
  website/docs/overview.mdx
  website/docs/universe/getting_started.md
  website/docusaurus.config.js
  website/sponsors.config.ts
  website/src/components/Features.tsx
  website/src/components/IconTag.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/SectionHeader.tsx
  website/src/components/Sponsor.tsx
  website/src/components/VSCodeExt.tsx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
  website/static/img/website/slack.png
Due: none

update pkg
  packages/skeleton/README.md
  packages/skeleton/package.json
  packages/skeleton/src/index.tsx
Due: none

update yarn lock
  yarn.lock
Due: none

update action
  .github/actions/install/action.yml
Due: none

add test
  packages/skeleton/src/__tests__/Skeleton.test.tsx
Due: none

update
  package.json
  packages/base/package.json
  packages/circular-slider/package.json
  packages/skeleton/package.json
  packages/skeleton/src/__tests__/Skeleton.test.tsx
  packages/themed/package.json
  yarn.lock
Due: base, themed

revert
  website/src/components/VSCodeExt.tsx
Due: none

update
  website/static/css/custom.css
Due: none

update dep
  package.json
  packages/base/package.json
  yarn.lock
Due: base

update dep
  package.json
  yarn.lock
Due: none

chore: update install action
  .github/actions/install/action.yml
Due: none

feat(Skeleton): new universal component package (#3357)
  package.json
  packages/base/package.json
  packages/skeleton/README.md
  packages/skeleton/package.json
  packages/skeleton/src/index.tsx
  packages/themed/package.json
  yarn.lock
Due: base, themed

update
  example/package.json
  package.json
  packages/circular-slider/package.json
  packages/circular-slider/src/CircularSlider/index.ts
  packages/circular-slider/src/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/index.ts
  packages/circular-slider/src/index.tsx
  packages/skeleton/.ci/setupTests.ts
  packages/skeleton/babel.config.js
  packages/skeleton/package.json
  packages/skeleton/src/__tests__/Skeleton.test.tsx
  packages/skeleton/src/index.tsx
  packages/skeleton/tsconfig.json
  packages/themed/package.json
  tsconfig.json
  yarn.lock
Due: themed

update
  example/src/navigation/RootNavigator.tsx
  example/src/views/skeleton.tsx
  packages/base/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/base/src/Skeleton/index.tsx
  packages/base/src/index.ts
  packages/skeleton/.ci/setupTests.ts
  packages/skeleton/README.md
  packages/skeleton/babel.config.js
  packages/skeleton/package.json
  packages/skeleton/tsconfig.json
  packages/themed/src/Skeleton/__tests__/LinearProgress.test.tsx
  packages/themed/src/Skeleton/index.tsx
  packages/themed/src/index.ts
Due: base, themed

update
  example/src/navigation/RootNavigator.tsx
Due: none

update
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Skeleton/index.tsx
  website/docs/components/Skeleton.mdx
  yarn.lock
Due: base

update tests
  packages/themed/package.json
  packages/themed/src/Skeleton/__tests__/LinearProgress.test.tsx
  packages/themed/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/themed/src/config/theme.tsx
Due: themed

chore: refactor Skeleton & dependencies (#3367)
  example/package.json
  example/src/navigation/RootNavigator.tsx
  example/src/views/skeleton.tsx
  package.json
  packages/base/.ci/setupTests.ts
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/base/src/Skeleton/index.tsx
  packages/base/src/index.ts
  packages/circular-slider/package.json
  packages/circular-slider/src/CircularSlider/index.ts
  packages/circular-slider/src/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/index.ts
  packages/circular-slider/src/index.tsx
  packages/skeleton/README.md
  packages/skeleton/package.json
  packages/skeleton/src/index.tsx
  packages/themed/package.json
  packages/themed/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/themed/src/Skeleton/index.tsx
  packages/themed/src/config/theme.tsx
  packages/themed/src/index.ts
  tsconfig.json
  website/docs/components/Skeleton.mdx
  yarn.lock
Due: base, themed

Update Icon.md
  website/versioned_docs/version-4.0.0-beta.0/main/Icon.md
Due: none

docs(Icon): fix broken link (#3354)
  website/versioned_docs/version-4.0.0-beta.0/main/Icon.md
Due: none

website
  website/src/components/Community.tsx
  website/src/components/Extentions.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/Sponsor.tsx
  website/src/components/VSCodeExt.tsx
  website/src/pages/index.tsx
  website/src/pages/versions.tsx
Due: none

update
  website/src/components/Extentions.tsx
  website/src/components/RunOnExpo.tsx
  website/src/pages/index.tsx
Due: none

fix:swipe animation disabling option in tabview (#3232)
  packages/base/src/TabView/TabView.tsx
Due: base
