Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

wip
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

wip
  example/src/views/tabs.tsx
Due: none

upadte
  dist/Tab/Tab.d.ts
  dist/Tab/Tab.js
Due: none

update
  dist/TabView/TabView.js
Due: none

fix: text no ref
  packages/base/src/Text/Text.tsx
Due: base

fix: 类型补充
  packages/base/src/Text/Text.tsx
Due: base

Fix tap alignment position
  example/src/views/sliders.tsx
  packages/base/src/Slider/Slider.tsx
Due: base

Add accessibility role to ButtonGroup Text
  packages/base/src/ButtonGroup/ButtonGroup.tsx
Due: base

docs: fix radio checkbox sample code properties
  website/docs/components/CheckBox.mdx
Due: none

fix: multiple components render issue in Avatar
  packages/base/src/Avatar/Avatar.tsx
Due: base

fix: multiple components render issue in Avatar
  yarn.lock
Due: none

fix: render icon as placeholder content
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/__tests__/Avatar.test.tsx
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
Due: base

fix: add title to placeholder content
  packages/base/src/Avatar/Avatar.tsx
Due: base

Make the showCancel prop actually hide or show the cancel button
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

Added omitCancel prop
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/types.tsx
  website/playground/SearchBar/searchbar.playground.tsx
  website/versioned_docs/version-1.2.0/searchbar.md
  website/versioned_docs/version-2.3.2/searchbar.md
  website/versioned_docs/version-3.4.2/props/searchbar.md
  website/versioned_docs/version-4.0.0-beta.0/main/SearchBar.md
  website/versioned_docs/version-4.0.0-rc.1/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.3/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.4/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.5/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.6/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.8/components/SearchBar.mdx
Due: base

yarn docs-build-api
  website/docs/components/SearchBar.mdx
  yarn.lock
Due: none

Update SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.2/components/SearchBar.mdx
Due: none

fix: avatar placeholder styling
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
Due: base

fix(Rating): missing component props
  packages/base/src/Rating/Rating.tsx
Due: base

fix(Avatar): multiple components render (#3831)
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/__tests__/Avatar.test.tsx
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  yarn.lock
Due: base

fix(Rating): missing component props (#3838)
  packages/base/src/Rating/Rating.tsx
Due: base

fix(Slider): center thumb on pressed location of the track (#3821)
  example/src/views/sliders.tsx
  packages/base/src/Slider/Slider.tsx
Due: base

WIP
  website/docs/components/CheckBox.mdx
Due: none

WIP
  packages/base/src/CheckBox/CheckBox.usage.tsx
Due: base

docs: fix radio checkbox sample code properties (#3826)
  packages/base/src/CheckBox/CheckBox.usage.tsx
  website/docs/components/CheckBox.mdx
Due: base

WIP
  packages/base/src/Text/Text.tsx
  packages/base/src/helpers/index.tsx
Due: base

fix(Text): add forwardRef (#3815)
  packages/base/src/Text/Text.tsx
  packages/base/src/helpers/index.tsx
Due: base

Update index.mdx
  website/versioned_docs/version-4.0.0-rc.8/index.mdx
Due: none

fix(makeStyles): Fix object literal outside useMemo causing styles to change on every render
  packages/themed/src/config/makeStyles.ts
Due: themed

fix(makeStyles): Ensure props remain optional
  packages/themed/src/config/makeStyles.ts
Due: themed

fix: infinite call to update theme on ThemeProvider
  packages/themed/src/config/ThemeProvider.tsx
Due: themed

[BottomSheet] add customizable fade animation
  example/src/views/bottomsheet.tsx
  packages/base/src/BottomSheet/BottomSheet.tsx
  packages/base/src/BottomSheet/useBottomSheetAnimationConfig.ts
  website/docs/components/BottomSheet.mdx
Due: base

[BottomSheet] jest snapshot
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
Due: base

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
