Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update
  packages/themed/src/config/withTheme.tsx
Due: themed

update
  packages/themed/src/config/makeStyles.ts
Due: themed

update
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/makeStyles.ts
Due: themed

fix(withTheme): add `spacing` to non-ThemeProvider components (#3525)
  packages/themed/src/config/withTheme.tsx
Due: themed

fix(makeStyles): add `Theme` in makeStyle interface (#3526)
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/makeStyles.ts
Due: themed

chore: update twitter url
  README.md
  packages/base/README.md
  packages/themed/README.md
  website/src/components/Community.tsx
  website/src/theme/Footer.tsx
Due: base, themed

fix lint
  packages/base/README.md
Due: base

chore: update twitter url (#3527)
  README.md
  packages/base/README.md
  packages/themed/README.md
  website/src/components/Community.tsx
  website/src/theme/Footer.tsx
Due: base, themed

add missing props
  example/src/views/buttons.tsx
Due: none

example: add missing props (#3532)
  example/src/views/buttons.tsx
Due: none

fix(ListItem.Swipeable): Proper left and right content width onRelease
  packages/base/src/ListItem/ListItem.Swipeable.tsx
Due: base

fix(ListItem): left & right content width onRelease in Swipeable (#3534)
  packages/base/src/ListItem/ListItem.Swipeable.tsx
Due: base

docs: replace template dist tag for edge
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.1/installation.mdx
  website/versioned_docs/version-4.0.0-rc.2/installation.mdx
  website/versioned_docs/version-4.0.0-rc.3/installation.mdx
Due: none

Fixing syntax error on the example
  website/versioned_docs/version-4.0.0-rc.3/customization/1.themprovider.mdx
Due: none

Update 1.themprovider.mdx
  website/versioned_docs/version-4.0.0-rc.3/customization/1.themprovider.mdx
Due: none

Update 1.themprovider.mdx
  website/docs/customization/1.themprovider.mdx
Due: none

docs: ThemeProvider code snippet (#3536)
  website/docs/customization/1.themprovider.mdx
  website/versioned_docs/version-4.0.0-rc.3/customization/1.themprovider.mdx
Due: none

WIP
  website/src/components/SectionHeader.tsx
  website/src/pages/index.tsx
  website/src/pages/sponsor.tsx
  website/src/pages/team.tsx
Due: none

WIP
  example/package.json
  example/webpack.config.js
  package.json
  packages/base/package.json
  packages/base/src/Button/Button.tsx
  packages/base/src/Tab/Tab.tsx
  website/docs/components/Button.mdx
  website/docs/components/Tab.mdx
  website/package.json
  website/plugins/react-native-elements-web.js
  website/yarn.lock
  yarn.lock
Due: base

WIP
  packages/base/src/Tab/Tab.tsx
Due: base

WIP
  package.json
  yarn.lock
Due: none

WIP
  website/docs/components/Tab.mdx
Due: none

WIP
  package.json
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/CheckBox/__tests__/__snapshots__/CheckBox.test.tsx.snap
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/Header/__tests__/__snapshots__/Header.test.tsx.snap
  packages/base/src/Icon/__tests__/__snapshots__/Icon.test.tsx.snap
  packages/base/src/Image/__tests__/__snapshots__/Image.test.tsx.snap
  packages/base/src/Input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar-default.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/base/src/Slider/__tests__/__snapshots__/Slider.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/base/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/themed/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  yarn.lock
Due: base, themed

website: update webpack config (#3537)
  example/package.json
  example/webpack.config.js
  package.json
  packages/base/package.json
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/CheckBox/__tests__/__snapshots__/CheckBox.test.tsx.snap
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/Header/__tests__/__snapshots__/Header.test.tsx.snap
  packages/base/src/Icon/__tests__/__snapshots__/Icon.test.tsx.snap
  packages/base/src/Image/__tests__/__snapshots__/Image.test.tsx.snap
  packages/base/src/Input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar-default.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/base/src/Slider/__tests__/__snapshots__/Slider.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/base/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/themed/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  website/docs/components/Button.mdx
  website/package.json
  website/plugins/react-native-elements-web.js
  website/yarn.lock
  yarn.lock
Due: base, themed

fix(Tab): inputRange using Array.from (#3538)
  packages/base/src/Tab/Tab.tsx
  website/docs/components/Tab.mdx
Due: base

ci: website frozen lockfile
  .github/actions/install/action.yml
Due: none

ci: website frozen lockfile (#3539)
  .github/actions/install/action.yml
Due: none

WIP
  website/src/pages/sponsor.tsx
  website/src/pages/team.tsx
Due: none

WIP
  website/yarn.lock
Due: none

website: page title SEO (#3540)
  website/src/components/SectionHeader.tsx
  website/src/pages/index.tsx
  website/src/pages/sponsor.tsx
  website/src/pages/team.tsx
  website/yarn.lock
Due: none

WIP
  packages/base/src/ButtonGroup/ButtonGroup.tsx
  packages/base/src/ButtonGroup/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  website/docs/components/ButtonGroup.mdx
Due: base

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
