Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

WIP
  example/src/views/tooltip.tsx
  packages/base/src/FAB/FAB.tsx
  packages/base/src/Tooltip/Tooltip.tsx
  packages/base/src/Tooltip/Tooltip.usage.tsx
Due: base

WIP
  example/package.json
  package.json
  packages/base/src/Tooltip/Tooltip.tsx
  packages/base/src/Tooltip/Tooltip.usage.tsx
  website/docusaurus.config.js
  website/plugins/snackPlayerInitializer.js
  website/sponsors.config.ts
  website/src/theme/Playground/index.js
  yarn.lock
Due: base

WIP
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/withStyles.test.tsx
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withStyles.tsx
Due: themed

WIP
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/styled.test.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/styled.tsx
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withStyles.tsx
  website/docs/customization/2.theme_object.mdx
  website/docs/customization/Color.tsx
  website/docs/customization/extending.mdx
  website/docs/customization/index.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/styles.mdx
  website/docs/customization/theme_object.mdx
  website/docs/customization/themeprovider.mdx
Due: themed

WIP
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/styled.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  website/docs/customization/styles.mdx
  website/docs/customization/themeprovider.mdx
Due: themed

WIP
  website/docs/customization/styles.mdx
  website/docs/customization/themeprovider.mdx
Due: none

WIP
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/__tests__/withTheme.test.tsx
  website/docs/customization/themeprovider.mdx
  website/static/img/docs/dark.png
  website/static/img/docs/light.png
Due: themed

WIP
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
Due: base, themed

WIP
  packages/base/src/Input/Input.tsx
  packages/base/src/SearchBar/SearchBar.tsx
  packages/base/src/helpers/index.tsx
Due: base

WIP
  package.json
  scripts/docgen/src/parser/docgenParser.ts
Due: none

WIP
  example/package.json
  packages/base/LICENSE
  packages/base/package.json
  packages/themed/LICENSE
  packages/themed/package.json
  scripts/build.sh
  scripts/docgen/package.json
  tsconfig.json
  website/package.json
Due: base, themed

WIP
  example/babel.config.js
  package.json
  packages/base/package.json
  packages/themed/src/AirbnbRating/index.tsx
  packages/themed/src/Avatar/index.tsx
  packages/themed/src/Badge/index.tsx
  packages/themed/src/BottomSheet/index.tsx
  packages/themed/src/Button/index.tsx
  packages/themed/src/ButtonGroup/index.tsx
  packages/themed/src/Card/index.tsx
  packages/themed/src/CheckBox/index.tsx
  packages/themed/src/Chip/index.tsx
  packages/themed/src/Dialog/index.tsx
  packages/themed/src/Divider/index.tsx
  packages/themed/src/FAB/index.tsx
  packages/themed/src/Header/index.tsx
  packages/themed/src/Icon/index.tsx
  packages/themed/src/Image/index.tsx
  packages/themed/src/Input/index.tsx
  packages/themed/src/LinearProgress/index.tsx
  packages/themed/src/ListItem/index.tsx
  packages/themed/src/Overlay/index.tsx
  packages/themed/src/PricingCard/index.tsx
  packages/themed/src/Rating/index.tsx
  packages/themed/src/SearchBar/index.tsx
  packages/themed/src/Skeleton/index.tsx
  packages/themed/src/Slider/index.tsx
  packages/themed/src/SocialIcon/index.tsx
  packages/themed/src/SpeedDial/index.tsx
  packages/themed/src/Switch/index.tsx
  packages/themed/src/Tab/index.tsx
  packages/themed/src/TabView/index.tsx
  packages/themed/src/Text/index.tsx
  packages/themed/src/Tile/index.tsx
  packages/themed/src/Tooltip/index.tsx
  packages/themed/src/config/colors.ts
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  tsconfig.json
  yarn.lock
Due: base, themed

WIP
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  website/docs/components/ListItem.Swipeable.mdx
Due: base

feat(Swipeable): add `minSlideWidth` prop (#3688)
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  packages/base/src/Tab/Tab.Item.tsx
  website/docs/components/ListItem.Swipeable.mdx
Due: base

WIP
  package.json
  packages/layout/src/Box/index.tsx
  packages/layout/src/Grid/Grid.tsx
  packages/layout/src/Grid/GridItem.tsx
  packages/layout/src/Grid/index.tsx
  packages/layout/src/Stack/index.tsx
  yarn.lock
Due: none

WIP
  packages/layout/package.json
  packages/layout/src/index.ts
  packages/layout/tsconfig.json
  scripts/docgen/lib/index.ts
  scripts/docgen/tsconfig.json
  yarn.lock
Due: none

WIP
  packages/base/src/Button/Button.usage.tsx
  packages/base/src/ButtonGroup/ButtonGroup.usage.tsx
  packages/base/src/CheckBox/CheckBox.usage.tsx
  packages/base/src/Text/Text.usage.tsx
  website/docs/component_usage/ButtonGroup.mdx
  website/docs/component_usage/Text.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Text.mdx
  website/docs/customization/2.theme_object.mdx
  website/docs/customization/Color.tsx
  website/docs/customization/extending.mdx
  website/docs/customization/index.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/styles.mdx
  website/docs/customization/theme_object.mdx
  website/docs/customization/themeprovider.mdx
  website/docusaurus.config.js
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/static/img/docs/dark.png
  website/static/img/docs/light.png
  website/versioned_docs/version-4.0.0-beta.0/main/usage/ButtonGroup/ButtonGroup.md
Due: base

WIP
  packages/base/src/ButtonGroup/ButtonGroup.usage.tsx
  packages/base/src/Text/Text.usage.tsx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Text.mdx
Due: base

docs: add more usage examples & update theme guides (#3723)
  packages/base/src/Button/Button.usage.tsx
  packages/base/src/ButtonGroup/ButtonGroup.usage.tsx
  packages/base/src/CheckBox/CheckBox.usage.tsx
  packages/base/src/Text/Text.usage.tsx
  website/docs/component_usage/ButtonGroup.mdx
  website/docs/component_usage/Text.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Text.mdx
  website/docs/customization/2.theme_object.mdx
  website/docs/customization/Color.tsx
  website/docs/customization/extending.mdx
  website/docs/customization/index.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/styles.mdx
  website/docs/customization/theme_object.mdx
  website/docs/customization/themeprovider.mdx
  website/docusaurus.config.js
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/static/img/docs/dark.png
  website/static/img/docs/light.png
  website/versioned_docs/version-4.0.0-beta.0/main/usage/ButtonGroup/ButtonGroup.md
Due: base

Update index.html
  index.html
Due: none

WIP
  website/docusaurus.config.js
  website/package.json
  website/src/components/Hero.tsx
  website/src/components/OpenCollective.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/Sponsor.tsx
  website/src/components/StartNow.tsx
  website/src/pages/index.tsx
  website/src/pages/sponsor.tsx
  website/src/theme/Footer.tsx
  website/static/css/components.css
  website/static/css/custom.css
  website/yarn.lock
Due: none

WIP
  website/src/components/RunOnExpo.tsx
Due: none

only android
  website/src/components/RunOnExpo.tsx
Due: none

website: add expo go client & update config (#3725)
  website/docusaurus.config.js
  website/package.json
  website/src/components/Hero.tsx
  website/src/components/OpenCollective.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/Sponsor.tsx
  website/src/components/StartNow.tsx
  website/src/pages/index.tsx
  website/src/pages/sponsor.tsx
  website/src/theme/Footer.tsx
  website/static/css/components.css
  website/static/css/custom.css
  website/yarn.lock
Due: none

WIP
  website/docusaurus.config.js
  website/package.json
  website/plugins/gtag.ts
  website/plugins/snackPlayerInitializer.js
  website/yarn.lock
Due: none

WIP
  website/docs/customization/themeprovider.mdx
  website/src/components/Hero.tsx
  website/static/css/components.css
Due: none

website: upgrade docusaurus to latest (#3729)
  website/docs/customization/themeprovider.mdx
  website/docusaurus.config.js
  website/package.json
  website/plugins/gtag.ts
  website/plugins/snackPlayerInitializer.js
  website/src/components/Hero.tsx
  website/static/css/components.css
  website/yarn.lock
Due: none

WIP
  website/docs/customization/themeprovider.mdx
Due: none

docs: add themeprovider examples
  website/docs/customization/themeprovider.mdx
Due: none

add listitem
  packages/base/src/CheckBox/CheckBox.usage.tsx
  packages/base/src/ListItem/ListItem.usage.tsx
  website/docs/components/CheckBox.mdx
  website/docs/components/ListItem.mdx
Due: base

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
