Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Button/Button.tsx
  packages/circular-slider/src/index.tsx
  packages/circular-slider/tsconfig.json
  packages/themed/package.json
  website/docs/universe/circularSlider.mdx
  website/scripts/docgen/a.js
  website/scripts/docgen/docgenParser.ts
  website/scripts/docgen/generateMarkdown.ts
  website/scripts/docgen/index.ts
  website/scripts/docgen/utils.ts
  website/sidebars.ts
  website/src/components/Community.tsx
  website/src/components/Extentions.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/SnackDemo.tsx
  website/src/components/StartNow.tsx
  website/src/pages/index.tsx
  website/static/img/website/start_now.png
  website/static/img/website/vsc_ext.png
Due: base, themed

add website layout
  website/docs/components/Skeleton.mdx
  website/scripts/docgen/generateMarkdown.ts
  website/scripts/docgen/getComponentFiles.ts
  website/src/components/Community.tsx
  website/src/components/Extentions.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/Sponsor.tsx
  website/src/components/StartNow.tsx
  website/src/pages/index.tsx
  website/src/pages/versions.tsx
  website/static/css/custom.css
  website/static/img/website/Expo Go.png
  website/static/img/website/start_now.png
  website/static/img/website/vsc_ext.png
Due: none

website: update homepage layout (#3373)
  website/docs/components/Skeleton.mdx
  website/scripts/docgen/generateMarkdown.ts
  website/scripts/docgen/getComponentFiles.ts
  website/src/components/Community.tsx
  website/src/components/Extentions.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/RunOnExpo.tsx
  website/src/components/Sponsor.tsx
  website/src/components/StartNow.tsx
  website/src/pages/index.tsx
  website/src/pages/versions.tsx
  website/static/css/custom.css
  website/static/img/website/Expo Go.png
  website/static/img/website/start_now.png
  website/static/img/website/vsc_ext.png
Due: none

moved
  website/docs/component_usage/AirbnbRating.mdx
  website/docs/component_usage/Avatar.mdx
  website/docs/component_usage/Badge.mdx
  website/docs/component_usage/BottomSheet.mdx
  website/docs/component_usage/Button.mdx
  website/docs/component_usage/ButtonGroup.mdx
  website/docs/component_usage/Card.mdx
  website/docs/component_usage/CheckBox.mdx
  website/docs/component_usage/Chip.mdx
  website/docs/component_usage/Dialog.mdx
  website/docs/component_usage/Divider.mdx
  website/docs/component_usage/FAB.mdx
  website/docs/component_usage/Header.mdx
  website/docs/component_usage/Icon.mdx
  website/docs/component_usage/Image.mdx
  website/docs/component_usage/Input.mdx
  website/docs/component_usage/LinearProgress.mdx
  website/docs/component_usage/ListItem.mdx
  website/docs/component_usage/Overlay.mdx
  website/docs/component_usage/PricingCard.mdx
  website/docs/component_usage/Rating.mdx
  website/docs/component_usage/SearchBar.mdx
  website/docs/component_usage/Slider.mdx
  website/docs/component_usage/SocialIcon.mdx
  website/docs/component_usage/SpeedDial.mdx
  website/docs/component_usage/Switch.mdx
  website/docs/component_usage/Tab.mdx
  website/docs/component_usage/TabView.mdx
  website/docs/component_usage/Text.mdx
  website/docs/component_usage/Tile.mdx
  website/docs/component_usage/Tooltip.mdx
Due: none

update
  package.json
  packages/base/src/Avatar/Avatar.tsx
  scripts/docgen/a.js
  scripts/docgen/docgenParser.ts
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/generateSidebar.ts
  scripts/docgen/index.ts
  scripts/docgen/platformMappingHandler.ts
  scripts/docgen/utils.ts
  tsconfig.json
  website/scripts/Component.tsx
  website/scripts/__tests__/Component.test.tsx
  website/scripts/__tests__/__snapshots__/Component.test.tsx.snap
  website/scripts/docgen/getComponentFiles.ts
  yarn.lock
Due: base

update
  packages/base/src/Avatar/Avatar.Accessory.tsx
  packages/base/src/Dialog/Dialog.tsx
  packages/base/src/Image/Image.tsx
  packages/base/src/ListItem/ListItem.Content.tsx
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/SearchBar.tsx
  website/docs/components/Avatar.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Tile.mdx
Due: base

update example
  example/src/views/circularSlider.tsx
  example/src/views/ratings.tsx
  example/src/views/social_icons.tsx
  packages/base/src/ListItem/ListItem.Subtitle.tsx
  packages/themed/src/SocialIcon/index.tsx
  packages/themed/src/index.ts
Due: base, themed

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update pressableprop
  packages/base/src/helpers/index.tsx
Due: base

update docs
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Card.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/Overlay.mdx
  website/docs/components/SocialIcon.mdx
Due: none

Merge next
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update
  website/docs/components/Avatar.Accessory.mdx
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Card.Image.mdx
  website/docs/components/Card.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/ListItem.ButtonGroup.mdx
  website/docs/components/ListItem.Chevron.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/Overlay.mdx
  website/docs/components/SocialIcon.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Tile.mdx
Due: none

update
  packages/base/src/Avatar/Avatar.tsx
  scripts/docgen/generateMarkdown.ts
  website/docs/components/Avatar.mdx
Due: base

Update tsconfig.json
  tsconfig.json
Due: none

add esm support
  scripts/docgen/tsconfig.json
Due: none

update lock
  package.json
  yarn.lock
Due: none

fix(Icon): preserve custom testID property (#3375)
  packages/base/src/Icon/Icon.tsx
  packages/base/src/Icon/__tests__/Icon.test.tsx
Due: base

chore: fix website build script
  package.json
  website/package.json
Due: none

fix(Icon): preserve custom testID property (#3376)
  packages/base/src/Icon/Icon.tsx
  packages/base/src/Icon/__tests__/Icon.test.tsx
Due: base

update
  .github/workflows/dist.yml
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.tsx
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: themed

update
  .github/workflows/dist.yml
  example/package.json
  packages/base/package.json
  packages/themed/package.json
  yarn.lock
Due: base, themed

update
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  yarn.lock
Due: themed

Update dist.yml
  .github/workflows/dist.yml
Due: none

Update README.md
  packages/circular-slider/README.md
Due: none

docs
  website/docs/customization/color.mdx
  website/docs/customization/components.mdx
  website/docs/customization/overview.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docs/migration-guide.md
Due: none

update
  packages/base/src/TabView/TabView.tsx
Due: base

docs
  website/docs/components/TabView.mdx
Due: none

add test
  packages/base/src/TabView/__tests__/TabView.test.tsx
Due: base

fix(TabView): add `disableSwipe` & `disableTransition` prop (#3372)
  packages/base/src/TabView/TabView.tsx
  packages/base/src/TabView/__tests__/TabView.test.tsx
  website/docs/components/TabView.mdx
Due: base

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
