Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

edit README
  package.json
  packages/base/README.md
  packages/base/package.json
  packages/themed/README.md
  packages/themed/package.json
  scripts/release/index.ts
  scripts/release/tsconfig.json
Due: base, themed

update
  .eslintignore
  .prettierignore
  package.json
  scripts/release/index.ts
Due: none

website: upgrade to docusaurus@2.0.0-beta.18
  website/docusaurus.config.js
  website/package.json
  website/src/theme/ColorModeToggle/index.js
  website/src/theme/Footer.tsx
  website/yarn.lock
Due: none

website: upgrade to docusaurus@2.0.0-beta.18 (#3422)
  website/docusaurus.config.js
  website/package.json
  website/src/theme/ColorModeToggle/index.js
  website/src/theme/Footer.tsx
  website/yarn.lock
Due: none

Update header.tsx
  example/src/components/header.tsx
Due: none

prettier
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/package.json
Due: base, themed

chore: change InputProps shake props optional.
  packages/base/src/Input/Input.tsx
Due: base

chore: change InputProps shake props optional. (#3426)
  packages/base/src/Input/Input.tsx
Due: base

checkbox disabled disabledTitleStyle disabledStyle props added
  packages/base/src/CheckBox/CheckBox.tsx
Due: base

updated docs
  website/docs/components/CheckBox.mdx
Due: none

feat(CheckBox): add disabled, disabledTitleStyle, disabledStyle props (#3430)
  packages/base/src/CheckBox/CheckBox.tsx
  website/docs/components/CheckBox.mdx
Due: base

vertical ButtonGroup issue
  packages/base/src/ButtonGroup/ButtonGroup.tsx
Due: base

update readme
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  packages/base/README.md
  packages/themed/README.md
Due: base, themed

update template
  website/docs/installation.mdx
  website/src/components/StartNow.tsx
  website/versioned_docs/version-4.0.0-rc.1/installation.mdx
Due: none

fix(SpeedDial): add themed FAB
  packages/base/src/SpeedDial/SpeedDial.tsx
Due: base

fix(SpeedDial): add themed FAB (#3436)
  packages/base/src/SpeedDial/SpeedDial.tsx
Due: base

fix:searchbar
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/SearchBar.tsx
  packages/themed/src/SearchBar/index.tsx
Due: base, themed

fix(Tooltip): removeEventListener deprecated warning
  packages/base/src/Tooltip/Tooltip.tsx
Due: base

fix: remove => remove()
  packages/base/src/Tooltip/Tooltip.tsx
Due: base

animation issue in Chip outline
  packages/base/src/Chip/Chip.tsx
Due: base

fix(Chip): border radius on tap (#3442)
  packages/base/src/Chip/Chip.tsx
Due: base

update
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/SearchBar.tsx
Due: base

fix(Tooltip): removeEventListener deprecated warning (#3440)
  packages/base/src/Tooltip/Tooltip.tsx
Due: base

update
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/SearchBar.tsx
  packages/base/src/SearchBar/types.tsx
  scripts/docgen/parentProps.ts
  website/docs/components/SearchBar.mdx
Due: base

fix(SearchBar): typescript errors (#3437)
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/SearchBar.tsx
  packages/base/src/SearchBar/types.tsx
  packages/themed/src/SearchBar/index.tsx
  scripts/docgen/parentProps.ts
  website/docs/components/SearchBar.mdx
Due: base, themed

update
  README.md
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/package.json
Due: base, themed

update
  README.md
Due: none

update index page
  website/docs/customization/index.mdx
  website/docs/index.mdx
  website/versioned_docs/version-4.0.0-rc.1/index.mdx
Due: none

update
  packages/base/README.md
  packages/themed/README.md
  website/plugins/remark-snackplayer.js
Due: base, themed

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
