Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

add children to BottomSheetProps
  packages/base/src/BottomSheet/BottomSheet.tsx
Due: base

Changed comming to coming
  website/versioned_docs/version-4.0.0-rc.6/index.mdx
Due: none

There need small naming changes in 212, 220
  website/versioned_docs/version-4.0.0-rc.6/customization/0.index.mdx
Due: none

fixed the automatic call of onCancel when hiding the keyboard Android
  packages/base/src/SearchBar/SearchBar-android.tsx
Due: base

Update 0.index.mdx
  website/docs/customization/0.index.mdx
Due: none

Update index.mdx
  website/docs/index.mdx
Due: none

docs: customisation page snippet (#3614)
  website/docs/customization/0.index.mdx
  website/versioned_docs/version-4.0.0-rc.6/customization/0.index.mdx
Due: none

docs: nextjs typo (#3613)
  website/docs/index.mdx
  website/versioned_docs/version-4.0.0-rc.6/index.mdx
Due: none

docs: updated docs for the avatar component
  packages/base/src/Avatar/Avatar.tsx
  website/docs/components/Avatar.mdx
Due: base

Fix components link in the footer
  website/src/theme/Footer.tsx
Due: none

[TabView] iOS TabView issue #3629
  packages/base/src/Tab/Tab.tsx
Due: base

Update Tab.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

fix(TabView): iOS TabView issue (#3635)
  packages/base/src/Tab/Tab.tsx
Due: base

Update Footer.tsx
  website/src/theme/Footer.tsx
Due: none

docs(Avatar): remove activeOpacity prop (#3618)
  packages/base/src/Avatar/Avatar.tsx
  website/docs/components/Avatar.mdx
Due: base

website: footer broken links (#3622)
  website/src/theme/Footer.tsx
Due: none

docs: fix broken link on getting started page
  website/docs/index.mdx
  website/versioned_docs/version-4.0.0-rc.6/index.mdx
Due: none

docs: fix broken link on getting started page (#3639)
  website/docs/index.mdx
  website/versioned_docs/version-4.0.0-rc.6/index.mdx
Due: none

WIP
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themeprovider.mdx
  website/docs/customization/2.theme object.mdx
  website/docs/customization/3.typescript.mdx
Due: none

WIP
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themeprovider.mdx
  website/docs/customization/2.theme_object.mdx
  website/docs/customization/3.extending.mdx
Due: none

docs: update extending docs (#3642)
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themeprovider.mdx
  website/docs/customization/2.theme_object.mdx
  website/docs/customization/3.extending.mdx
Due: none

WIP
  packages/themed/src/config/ThemeProvider.tsx
  website/docs/customization/1.themeprovider.mdx
Due: themed

WIP
  website/docs/component_usage/Tooltip.mdx
  website/plugins/remark-snackplayer.js
Due: none

WIP
  website/plugins/remark-snackplayer.js
Due: none

fix: undefined `components` in useTheme hook (#3643)
  packages/themed/src/config/ThemeProvider.tsx
  website/docs/customization/1.themeprovider.mdx
Due: themed

docs(Tooltip): add controlled component to expo demo (#3644)
  website/docs/component_usage/Tooltip.mdx
  website/plugins/remark-snackplayer.js
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
