Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

Update
  .github/workflows/expo.yml
Due: none

chore: update expo CI
  .github/workflows/expo.yml
Due: none

Update
  .github/workflows/test.yml
Due: none

chore: update expo preview url (#3401)
  .github/workflows/expo.yml
  .github/workflows/test.yml
  README.md
  example/app.json
  example/package.json
  packages/base/README.md
  packages/circular-slider/README.md
  packages/themed/README.md
  website/src/components/RunOnExpo.tsx
  website/static/img/website/expo-go-qr.svg
  yarn.lock
Due: base, themed

Update README.md
  example/README.md
Due: none

Update
  .github/workflows/expo.yml
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/package.json
Due: base, themed

update expo preview
  .github/workflows/expo-pr-preview.yml
  .github/workflows/expo.yml
Due: none

update expo preview
  .github/workflows/expo-pr-preview.yml
Due: none

fix: pkg entry point for react-native cli (#3403)
  .github/workflows/expo-pr-preview.yml
  .github/workflows/expo.yml
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/package.json
Due: base, themed

update dep
  example/app.json
  example/assets/icons/loading.png
  example/babel.config.js
  example/metro.config.js
  example/package.json
  package.json
  packages/base/package.json
  packages/circular-slider/package.json
  yarn.lock
Due: base

update expo
  .github/workflows/expo-pr-preview.yml
  .github/workflows/expo.yml
Due: none

revert
  package.json
  yarn.lock
Due: none

remove type
  .github/workflows/expo-pr-preview.yml
Due: none

update lint
  example/package.json
  package.json
  yarn.lock
Due: none

update lint
  package.json
  yarn.lock
Due: none

update
  .github/workflows/expo.yml
Due: none

update
  packages/base/src/Button/Button.tsx
  packages/base/src/Header/Header.tsx
  packages/base/src/ListItem/ListItem.tsx
  packages/base/src/ListItem/__tests__/ListItem.test.tsx
  packages/base/src/index.ts
  website/versioned_docs/version-4.0.0-rc.0/components/Avatar.Accessory.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Divider.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.FeaturedSubtitle.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.FeaturedTitle.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Image.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Title.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Chip.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Dialog.Button.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Dialog.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/FAB.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Accordion.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.ButtonGroup.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Chevron.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Content.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Input.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Swipeable.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SpeedDial.Action.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SpeedDial.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Tab.Item.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Tab.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/TabView.mdx
Due: base

update
  packages/base/src/index.ts
Due: base

chore: update deps versions (#3404)
  .github/workflows/expo.yml
  example/app.json
  example/assets/icons/loading.png
  example/babel.config.js
  example/metro.config.js
  example/package.json
  package.json
  packages/base/package.json
  packages/base/src/Button/Button.tsx
  packages/base/src/Header/Header.tsx
  packages/base/src/ListItem/ListItem.tsx
  packages/base/src/ListItem/__tests__/ListItem.test.tsx
  packages/circular-slider/package.json
  website/versioned_docs/version-4.0.0-rc.0/components/Avatar.Accessory.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Divider.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.FeaturedSubtitle.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.FeaturedTitle.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Image.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.Title.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Card.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Chip.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Dialog.Button.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Dialog.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/FAB.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Accordion.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.ButtonGroup.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Chevron.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Content.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Input.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.Swipeable.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/ListItem.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SearchBar.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SpeedDial.Action.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/SpeedDial.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Tab.Item.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/Tab.mdx
  website/versioned_docs/version-4.0.0-rc.0/components/TabView.mdx
  yarn.lock
Due: base

Update
  .github/workflows/dist.yml
  .github/workflows/test.yml
Due: none

update
  .github/workflows/test.yml
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Accordion.mdx
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Swipeable.mdx
Due: none

update
  .github/workflows/test.yml
Due: none

update
  example/src/views/circularSlider.tsx
  example/src/views/skeleton.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
Due: themed

update
  .github/workflows/dist.yml
Due: none

chore: fix broken CI (#3405)
  .github/workflows/dist.yml
  .github/workflows/test.yml
  example/src/views/circularSlider.tsx
  example/src/views/skeleton.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Accordion.mdx
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Swipeable.mdx
Due: themed

update
  packages/base/src/TabView/TabView.tsx
Due: base

fix(TabView): swipe issue (#3380)
  example/src/views/tabs.tsx
  example/src/views/whatsappClone.tsx
  packages/base/src/TabView/TabView.tsx
  website/docs/components/TabView.mdx
Due: base

fix(Tab, TabView): conditional rendering (#3397)
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/base/src/TabView/TabView.tsx
  packages/base/src/TabView/__tests__/TabView.test.tsx
Due: base

docs: update installation guide without Github PAT
  website/versioned_docs/version-4.0.0-rc.0/installation.mdx
  website/versioned_docs/version-4.0.0-rc.0/migration-guide.md
Due: none
