Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

Update Dialog.tsx
  packages/base/src/Dialog/Dialog.tsx
Due: base

Update Dialog.mdx
  website/docs/components/Dialog.mdx
Due: none

docs(Dialog): update broken link (#3780)
  packages/base/src/Dialog/Dialog.tsx
  website/docs/components/Dialog.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Dialog.mdx
Due: base

Add overwritable testID to Icon
  packages/base/src/Icon/Icon.tsx
Due: base

feat(Header): add hideStatusBar prop in header (#3755)
  packages/base/src/Header/Header.tsx
Due: base

docs: add header hideStatusBar prop in documentation
  website/versioned_docs/version-4.0.0-rc.7/components/Header.mdx
Due: none

Fix issue 3799
  packages/base/src/Skeleton/Skeleton.tsx
Due: base

Update Skeleton.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Skeleton.mdx
Due: none

WIP
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

fix(Avatar): improve component (#3760)
  example/src/views/avatars.tsx
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/__tests__/Avatar.test.tsx
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/base/src/Avatar/index.tsx
  website/docs/components/Avatar.mdx
  website/playground/Avatar/avatar.playground.tsx
  website/yarn.lock
Due: base

feat(Header): add `hideStatusBar` prop (#3801)
  packages/base/src/Header/Header.tsx
  website/versioned_docs/version-4.0.0-rc.7/components/Header.mdx
Due: base

Apply suggestions from code review
  example/App.tsx
Due: none

fix(Icon): add testID prop (#3787)
  packages/base/src/Icon/Icon.tsx
Due: base

fix(ThemeProvider): update theme with prop change (#3732)
  example/App.tsx
  example/src/navigation/DrawerNavigator.tsx
  packages/base/src/Avatar/Avatar.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  website/docs/customization/themeprovider.mdx
Due: base, themed

fix (CheckBoxIcon): reduce needless re-rendering of CheckBoxIcon (#3773)
  packages/base/src/CheckBox/components/CheckBoxIcon.tsx
Due: base

check render if width is number
  packages/base/src/Divider/Divider.tsx
Due: base

add comment
  packages/base/src/Divider/Divider.tsx
Due: base

fix(Divider): borderBottomWidth error when the width is a percentage (#3804)
  packages/base/src/Divider/Divider.tsx
Due: base

docs: add avatar component changes in the migration guide
  website/src/pages/migration/migration-v3.mdx
Due: none

types updated for height and width in Skeleton.tsx
  packages/base/src/Skeleton/Skeleton.tsx
Due: base

Removing styles prop from Skeleton.tsx
  packages/base/src/Skeleton/Skeleton.tsx
Due: base

docs: add avatar component changes in the migration guide (#3805)
  website/src/pages/migration/migration-v3.mdx
Due: none

feat(Input): Ability to specify an Input `ErrorComponent` (#3759)
  example/src/views/inputs.tsx
  packages/base/src/Input/Input.tsx
  packages/base/src/Input/__tests__/Input.test.tsx
  website/docs/components/Input.mdx
Due: base

wip
  packages/base/src/Divider/Divider.tsx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
Due: base

fix(ci): build errors (#3806)
  packages/base/src/Divider/Divider.tsx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
Due: base

add docs
  website/docs/components/Skeleton.mdx
Due: none

fix(Skeleton): height/width prop incorrect typing (#3802)
  packages/base/src/Skeleton/Skeleton.tsx
  website/docs/components/Skeleton.mdx
Due: base

wip
  example/src/navigation/RootNavigator.tsx
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

wip
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/TabView/TabView.tsx
Due: base
