Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

chore: update example dependency (#3478)
  example/package.json
  yarn.lock
Due: none

update speeddial
  example/src/views/speedDial.tsx
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
  packages/base/src/SpeedDial/SpeedDial.tsx
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  website/docs/components/SpeedDial.mdx
Due: base

update speeddial
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
Due: themed

fix(SpeedDial): Left placement for Actions (#3479)
  example/src/views/speedDial.tsx
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
  packages/base/src/SpeedDial/SpeedDial.tsx
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  website/docs/components/SpeedDial.mdx
Due: base, themed

update hooks
  packages/base/src/ListItem/ListItem.Swipeable.tsx
Due: base

update lock
  yarn.lock
Due: none

docs: update edge installation cmd
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.1/installation.mdx
Due: none

update
  example/src/views/speedDial.tsx
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
  packages/base/src/SpeedDial/SpeedDial.tsx
  website/docs/components/SpeedDial.Action.mdx
  website/docs/components/SpeedDial.mdx
Due: base

fix(ListItem): Swipeable panresponders (#3449)
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  website/docs/components/ListItem.Swipeable.mdx
Due: base

fix(SpeedDial.Action): wrap with pressable (#3480)
  example/src/views/speedDial.tsx
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
  packages/base/src/SpeedDial/SpeedDial.tsx
  packages/base/src/SpeedDial/__tests__/SpeedDial.Action.test.tsx
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  website/docs/components/SpeedDial.Action.mdx
  website/docs/components/SpeedDial.mdx
Due: base, themed

chore: release v4.0.0-rc.2
  .gitignore
  .prettierrc
  CHANGELOG.md
  README.md
  babel.config.js
  package.json
  src/__tests__/CircularSlider.test.tsx
  src/index.tsx
  tsconfig.json
Due: none

Bleeding Edge Version
  dist/index.d.ts
  dist/index.js
  src/__tests__/CircularSlider.test.tsx
  src/index.tsx
Due: none

update docs
  website/docs/customization/typescript.mdx
  yarn.lock
Due: none

update yarn lock
  yarn.lock
Due: none

light and dark theme example update & yarn install
  example/src/views/inputs.tsx
  yarn.lock
Due: none

docs: update extending theme (#3482)
  website/docs/customization/typescript.mdx
Due: none

add rne core
  packages/core/.gitignore
  packages/core/.npmignore
  packages/core/AirbnbRating.ts
  packages/core/Avatar.ts
  packages/core/Badge.ts
  packages/core/BottomSheet.ts
  packages/core/Button.ts
  packages/core/ButtonGroup.ts
  packages/core/Card.ts
  packages/core/CheckBox.ts
  packages/core/Chip.ts
  packages/core/Dialog.ts
  packages/core/Divider.ts
  packages/core/FAB.ts
  packages/core/Header.ts
  packages/core/Icon.ts
  packages/core/Image.ts
  packages/core/Input.ts
  packages/core/LinearProgress.ts
  packages/core/ListItem.ts
  packages/core/Overlay.ts
  packages/core/PricingCard.ts
  packages/core/README.md
  packages/core/Rating.ts
  packages/core/SearchBar.ts
  packages/core/Skeleton.ts
  packages/core/Slider.ts
  packages/core/SocialIcon.ts
  packages/core/SpeedDial.ts
  packages/core/Switch.ts
  packages/core/Tab.ts
  packages/core/TabView.ts
  packages/core/Text.ts
  packages/core/Tile.ts
  packages/core/Tooltip.ts
  packages/core/config.ts
  packages/core/index.ts
  packages/core/package.json
  packages/core/tsconfig.json
  yarn.lock
Due: none

fix(makeStyles): theme param type
  packages/themed/src/config/makeStyles.ts
Due: themed

add pkg
  packages/theming/README.md
  packages/theming/package.json
  packages/theming/src/ThemeProvider.tsx
  packages/theming/src/__tests__/ThemeProvider.test.tsx
  packages/theming/src/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/theming/src/__tests__/makeStyles.test.tsx
  packages/theming/src/__tests__/withTheme.test.tsx
  packages/theming/src/index.ts
  packages/theming/src/makeStyles.ts
  packages/theming/src/theme.ts
  packages/theming/src/withTheme.tsx
  packages/theming/tsconfig.json
  yarn.lock
Due: none

remove
  example/src/navigation/RootNavigator.tsx
  example/src/views/circularSlider.tsx
  packages/circular-slider/.gitignore
  packages/circular-slider/.prettierrc
  packages/circular-slider/CHANGELOG.md
  packages/circular-slider/README.md
  packages/circular-slider/babel.config.js
  packages/circular-slider/package.json
  packages/circular-slider/src/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/index.tsx
  packages/circular-slider/tsconfig.json
  website/docs/universe/CircularSlider.mdx
  website/sidebars.ts
  yarn.lock
Due: none

lint
  packages/themed/src/config/makeStyles.ts
Due: themed

chore: remove circular-slider pkg (#3483)
  example/src/navigation/RootNavigator.tsx
  example/src/views/circularSlider.tsx
  packages/circular-slider/.gitignore
  packages/circular-slider/.prettierrc
  packages/circular-slider/CHANGELOG.md
  packages/circular-slider/README.md
  packages/circular-slider/babel.config.js
  packages/circular-slider/package.json
  packages/circular-slider/src/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/index.tsx
  packages/circular-slider/tsconfig.json
  packages/themed/src/config/makeStyles.ts
  website/docs/universe/CircularSlider.mdx
  website/sidebars.ts
  yarn.lock
Due: themed

remove tests
  packages/theming/package.json
  packages/theming/src/__tests__/ThemeProvider.test.tsx
  packages/theming/src/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/theming/src/__tests__/makeStyles.test.tsx
  packages/theming/src/__tests__/withTheme.test.tsx
Due: none

add component
  packages/base/src/Menu/Menu.tsx
  packages/base/src/Menu/index.tsx
Due: base

add example
  example/src/views/avatars.tsx
Due: none

add animationType prop
  packages/base/src/Tooltip/Tooltip.tsx
  website/docs/components/Tooltip.mdx
Due: base

add support for accessibility props for GroupButton when it is used with react element
  packages/base/src/ButtonGroup/ButtonGroup.tsx
  packages/base/src/helpers/index.tsx
  packages/base/src/helpers/inlineAccessibilityProps.ts
Due: base

Icon raised - ios shadow issue
  packages/base/src/Icon/Icon.tsx
  packages/base/src/Icon/__tests__/__snapshots__/Icon.test.tsx.snap
Due: base

update
  example/App.tsx
  example/README.md
  example/app.json
  example/eas.json
  example/package.json
  example/src/components/header.tsx
  example/webpack.config.js
  package.json
  packages/base/package.json
  yarn.lock
Due: base

update
  tsconfig.json
Due: none

build: change build target (#3493)
  tsconfig.json
Due: none
