Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

Update README.md
  packages/base/README.md
Due: base

update
  packages/base/README.md
  packages/themed/README.md
Due: base, themed

chore: fix readme & website (#3448)
  README.md
  packages/base/README.md
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/README.md
  packages/themed/package.json
  website/docs/customization/index.mdx
  website/docs/index.mdx
  website/plugins/remark-snackplayer.js
  website/versioned_docs/version-4.0.0-rc.1/index.mdx
Due: base, themed

chore: remove app banner
  README.md
Due: none

chore: update twitter username
  README.md
  website/docusaurus.config.js
Due: none

update
  packages/base/src/ListItem/ListItem.Swipeable.tsx
Due: base

docs
  website/docs/components/ListItem.Swipeable.mdx
Due: none

update
  example/package.json
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  website/docs/components/ListItem.Swipeable.mdx
  yarn.lock
Due: base

update
  example/App.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.component.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/index.ts
Due: themed

update exports
  packages/themed/src/config/index.ts
  packages/themed/src/index.ts
Due: themed

fix(Theming): extend default theme (#3450)
  example/App.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.component.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/index.ts
Due: themed

overlay - added KeyboardAvoidingView
  packages/base/src/Overlay/Overlay.tsx
Due: base

update test
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
Due: base

Update pitfall.md to show Example 3 fails as expected
  website/versioned_docs/version-4.0.0-rc.1/customization/pitfall.mdx
Due: none

Create Sjenica1
  Sjenica1
Due: none

fix(SpeedDial.Action): wrap with pressable
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
  packages/base/src/SpeedDial/__tests__/SpeedDial.Action.test.tsx
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
Due: base, themed

search bar- platform=ios or android apply light theme, android searchbar design updates
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/base/src/SearchBar/types.tsx
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
Due: base, themed

install typo
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.1/installation.mdx
Due: none

overlay custom backgroundColor override
  packages/base/src/Overlay/Overlay.tsx
Due: base

makeStyles returns full theme
  packages/themed/src/config/makeStyles.ts
Due: themed

Update package.json
  example/package.json
Due: none

yarn update
  yarn.lock
Due: none

chore: remove git.io
  website/blog/2018-12-13-react-native-web.md
Due: none

ListItem.Accordion isExpanded set default false
  packages/base/src/ListItem/ListItem.Accordion.tsx
  website/docs/components/ListItem.Accordion.mdx
Due: base

yarn install
  yarn.lock
Due: none

fix(ListItem): isExpanded set default false for Accordion (#3475)
  packages/base/src/ListItem/ListItem.Accordion.tsx
  website/docs/components/ListItem.Accordion.mdx
  yarn.lock
Due: base

website: remove git.io link from blog (#3474)
  website/blog/2018-12-13-react-native-web.md
Due: none

fix(Overlay): custom backgroundColor override (#3471)
  packages/base/src/Overlay/Overlay.tsx
Due: base

update
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
Due: base, themed

fix
  packages/base/src/Skeleton/index.tsx
Due: base

fix(ThemeProvider): add `children` prop explicitly (#3477)
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
Due: base, themed

fix(Skeleton): remove `type` from import (#3476)
  packages/base/src/Skeleton/index.tsx
Due: base

add
  example/package.json
  yarn.lock
Due: none

update
  example/package.json
  yarn.lock
Due: none
