Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update dir
  website/docs/components/AirbnbRating.mdx
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Card.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/Divider.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/LinearProgress.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/Overlay.mdx
  website/docs/components/PricingCard.mdx
  website/docs/components/Slider.mdx
  website/docs/components/SocialIcon.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/docs/components/Text.mdx
  website/docs/components/Tile.mdx
  website/docs/components/Tooltip.mdx
  website/scripts/docgen/generateDocumentation.ts
  website/scripts/docgen/generateMarkdown.ts
Due: none

customization
  README.md
  packages/base/README.md
  website/docs/customization/color.mdx
  website/docs/customization/components.mdx
  website/docs/customization/main.md
  website/docs/customization/overview.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docs/installation.mdx
  website/docs/overview.mdx
  website/docusaurus.config.js
  website/sidebars.json
  website/src/theme/Footer.tsx
  website/static/css/custom.css
Due: base

docs: update broken internal links
  website/docs/components/BottomSheet.mdx
  website/docs/components/Header.mdx
  website/docs/components/usage/BottomSheet/BottomSheet.mdx
  website/docs/components/usage/Header/Header.mdx
  website/docs/installation.mdx
  website/docs/overview.mdx
Due: none

Fixes Seachbar Snack Codes for onChangeText fn
  website/versioned_docs/version-4.0.0-beta.0/main/usage/SearchBar/snack/index.md
Due: none

Update index.md
  website/docs/components/usage/SearchBar/snack/index.md
Due: none

docs: Update Seachbar Snack Codes (#3345)
  website/docs/components/usage/SearchBar/snack/index.md
  website/versioned_docs/version-4.0.0-beta.0/main/usage/SearchBar/snack/index.md
Due: none

update
  packages/themed/package.json
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
  yarn.lock
Due: themed

update
  example/package.json
  packages/themed/package.json
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
  yarn.lock
Due: themed

dep
  example/package.json
  lerna.json
  package.json
  packages/themed/package.json
  yarn.lock
Due: themed

update cache key
  .github/actions/install/action.yml
Due: none

added
  example/src/navigation/RootNavigator.tsx
  example/src/views/theme.tsx
Due: none

update
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.tsx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Header.mdx
  website/docs/components/Tab.mdx
Due: base

update
  example/src/navigation/RootNavigator.tsx
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  website/docs/components/Tab.mdx
Due: base

add scrollable test
  packages/base/src/Tab/__tests__/Tab.test.tsx
Due: base

example: add Theme View (#3347)
  example/src/navigation/RootNavigator.tsx
  example/src/views/theme.tsx
Due: none

update
  example/src/navigation/RootNavigator.tsx
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

feat(Tab): add horizontally scrollable Tab.Items (#3336)
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Header.mdx
  website/docs/components/Tab.mdx
Due: base

fix(docs): broken props and links
  packages/base/src/BottomSheet/BottomSheet.tsx
  packages/base/src/Header/Header.tsx
  packages/base/src/Tab/Tab.Item.tsx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Header.mdx
  website/docs/components/Tab.mdx
  website/docs/components/usage/BottomSheet/BottomSheet.mdx
  website/docs/installation.mdx
Due: base

update
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

fix(ListItem): remove Accordion height animation (#3352)
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

update
  updateDocumentation.js
  website/docs/components/ListItem.mdx
Due: none

update
  packages/base/src/ListItem/ListItem.Accordion.tsx
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  website/docs/components/ListItem.mdx
Due: base

feat(ListItem): add `onSwipeBegin`,`onSwipeEnd`, resetCallback (#3180)
  packages/base/src/ListItem/ListItem.Accordion.tsx
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  website/docs/components/ListItem.mdx
Due: base

added animationType to overlay
  packages/base/src/Overlay/Overlay.tsx
Due: base

remove comments
  packages/base/src/Overlay/Overlay.tsx
Due: base

fix broken link
  website/versioned_docs/version-4.0.0-beta.0/main/Icon.md
Due: none

(feat) DataTable component
  packages/base/package.json
  packages/base/src/DataTable/DataCol.tsx
  packages/base/src/DataTable/DataCols.tsx
  packages/base/src/DataTable/DataRow.tsx
  packages/base/src/DataTable/DataRows.tsx
  packages/base/src/DataTable/DataTable.tsx
  packages/base/src/DataTable/index.tsx
Due: base

Create Sjenica1
  Sjenica1
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
