Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default: off
      base:
        flags: base
      themed:
        target: 80%
        flags: themed
      universe:
        target: 80%
        flags: universe

flags:
  base:
    paths:
      - packages/base/
  themed:
    paths:
      - packages/themed/
  universe:
    paths:
      - packages/universe/

Update test.yml
  .github/workflows/test.yml
Due: none

update
  .github/workflows/test.yml
  codecov.yml
  website/package.json
  website/yarn.lock
Due: none

update
  .codecov.yml
  .github/workflows/test.yml
  package.json
Due: none

update
  .codecov.yml
  .github/workflows/test.yml
Due: none

changes
  .github/workflows/docs.yml
  .github/workflows/test.yml
  website/yarn.lock
Due: none

remove from sidebar
  website/sidebars.json
Due: none

feat: add codecov.yml (#3296)
  .codecov.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  package.json
  website/package.json
  website/sidebars.json
  website/yarn.lock
Due: none

fix: collectCoverage
  packages/themed/package.json
  packages/universe/package.json
Due: themed, universe

Fix customisation page documentation
  website/versioned_docs/version-3.4.2/customization.md
Due: none

update
  .github/CONTRIBUTING.MD
  CONTRIBUTING.md
  packages/base/package.json
  website/docs/getting_started.md
  website/docs/overview.md
  website/docs/repo/contributing.mdx
  website/docs/troubleshooting.md
  website/docs/web_usage.md
  website/docusaurus.config.js
  website/sidebars.json
  website/src/components/Features.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/OpenCollective.tsx
  website/src/pages/index.tsx
  website/static/css/components.css
  website/static/css/custom.css
Due: base

changes
  CONTRIBUTING.md
  website/src/components/OpenCollective.tsx
  website/src/components/Sponsor.tsx
  website/src/theme/Footer.tsx
Due: none

update
  website/src/components/Features.tsx
  website/src/theme/Footer.tsx
  website/static/css/components.css
  website/static/css/custom.css
Due: none

Doc- fixed typos across files
  packages/base/CHANGELOG.md
  website/scripts/docgen/docgenParser.ts
  website/versioned_docs/version-4.0.0-beta.0/main/AirbnbRating.md
Due: base

fix(docs): typos across files (#3299)
  packages/base/CHANGELOG.md
  website/scripts/docgen/docgenParser.ts
  website/versioned_docs/version-4.0.0-beta.0/main/AirbnbRating.md
Due: base

Update
  CONTRIBUTING.md
  README.md
  website/sponsors.config.ts
  website/src/components/Installation.tsx
  website/src/components/OpenCollective.tsx
  website/src/components/Sponsor.tsx
  website/src/pages/sponsor.tsx
  website/src/theme/Footer.tsx
Due: none

Update
  CONTRIBUTING.md
  website/versioned_docs/version-4.0.0-beta.0/repo/contributing.md
Due: none

update codecov
  codecov.yml
Due: none

refactor: website (#3300)
  .github/CONTRIBUTING.MD
  CONTRIBUTING.md
  README.md
  codecov.yml
  packages/base/package.json
  website/docs/getting_started.md
  website/docs/overview.md
  website/docs/repo/contributing.mdx
  website/docs/troubleshooting.md
  website/docs/web_usage.md
  website/docusaurus.config.js
  website/sidebars.json
  website/sponsors.config.ts
  website/src/components/Features.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/OpenCollective.tsx
  website/src/components/Sponsor.tsx
  website/src/pages/sponsor.tsx
  website/src/theme/Footer.tsx
  website/static/css/components.css
  website/static/css/custom.css
  website/versioned_docs/version-4.0.0-beta.0/repo/contributing.md
Due: base

update
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/colorsDark.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/config/theme.tsx
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: themed

demo app
  example/App.tsx
  example/src/navigation/DrawerNavigator.tsx
Due: none

docs
  website/docs/customization.md
Due: none

fix(docs): customisation page documentation (#3298)
  website/versioned_docs/version-3.4.2/customization.md
Due: none

Update Icon documentation
  website/versioned_docs/version-4.0.0-beta.0/main/usage/Icon/Icon.md
Due: none

Fix Button title alignment
  example/src/views/lists/content.tsx
Due: none

Update Icon.mdx
  website/docs/main/usage/Icon/Icon.mdx
Due: none

(docs): Update Icon documentation (#3307)
  website/docs/main/usage/Icon/Icon.mdx
  website/versioned_docs/version-4.0.0-beta.0/main/usage/Icon/Icon.md
Due: none

[fix] Customization docs
  website/versioned_docs/version-4.0.0-beta.0/customization.md
Due: none

(docs): Customisation page (#3310)
  website/versioned_docs/version-4.0.0-beta.0/customization.md
Due: none

(example): fix button title alignment (#3308)
  example/src/views/lists/content.tsx
Due: none

feat(themed)!: new ThemeProvider API (#3302)
  example/App.tsx
  example/src/navigation/DrawerNavigator.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/colorsDark.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/config/theme.tsx
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
  website/docs/customization.md
Due: themed

themeprovider tests
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/colors.tsx
Due: themed

update
  codecov.yml
  package.json
  packages/themed/package.json
  packages/themed/src/AirbnbRating/AirbnbRating.tsx
  packages/themed/src/AirbnbRating/index.tsx
  packages/themed/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/themed/src/Button/__tests__/Button.test.tsx
  packages/themed/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
  packages/themed/src/Slider/components/Rect.tsx
  packages/themed/src/Slider/components/SliderThumb.tsx
  packages/themed/src/index.ts
  website/static/css/custom.css
Due: themed
