Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update
  codecov.yml
  packages/themed/src/index.ts
  website/docs/customization.md
  website/docs/migration-guide.md
  website/docs/migration-v4.md
  website/sidebars.json
  website/src/theme/Footer.tsx
  website/static/css/custom.css
Due: themed

update
  website/docs/migration-guide.md
Due: none

refactor: `ThemeProvider` unit tests (#3311)
  codecov.yml
  package.json
  packages/themed/package.json
  packages/themed/src/AirbnbRating/AirbnbRating.tsx
  packages/themed/src/AirbnbRating/index.tsx
  packages/themed/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/themed/src/Button/__tests__/Button.test.tsx
  packages/themed/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
  packages/themed/src/Slider/components/Rect.tsx
  packages/themed/src/Slider/components/SliderThumb.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/colors.tsx
  packages/themed/src/index.ts
  website/docs/customization.md
  website/docs/migration-guide.md
  website/docs/migration-v4.md
  website/sidebars.json
  website/src/theme/Footer.tsx
  website/static/css/custom.css
Due: themed

(core): Update bug report form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: add auto release notes template
  .github/release.yml
Due: none

update
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/release.yml
  CHANGELOG.old.md
  packages/base/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/universe/package.json
Due: base, themed, universe

update
  packages/base/src/CheckBox/__tests__/__snapshots__/CheckBox.test.tsx.snap
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
Due: base

add yarn workspaces
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/r.yml
  .github/workflows/test.yml
  .gitignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  example/package.json
  package.json
  website/.gitignore
  website/.yarn/releases/yarn-3.1.1.cjs
  website/yarn.lock
  yarn.lock
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Updated Input.md link for Text props
  website/versioned_docs/version-4.0.0-beta.0/main/Input.md
Due: none

chore: add codecov.yml (#3296)
  .codecov.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  package.json
  website/package.json
  website/sidebars.json
  website/yarn.lock
Due: none

fix: collectCoverage
  packages/themed/package.json
  packages/universe/package.json
Due: themed, universe

docs: typos across files (#3299)
  packages/base/CHANGELOG.md
  website/scripts/docgen/docgenParser.ts
  website/versioned_docs/version-4.0.0-beta.0/main/AirbnbRating.md
Due: base

refactor: website (#3300)
  .github/CONTRIBUTING.MD
  CONTRIBUTING.md
  README.md
  codecov.yml
  packages/base/package.json
  website/docs/getting_started.md
  website/docs/overview.md
  website/docs/repo/contributing.mdx
  website/docs/troubleshooting.md
  website/docs/web_usage.md
  website/docusaurus.config.js
  website/sidebars.json
  website/sponsors.config.ts
  website/src/components/Features.tsx
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/components/OpenCollective.tsx
  website/src/components/Sponsor.tsx
  website/src/pages/sponsor.tsx
  website/src/theme/Footer.tsx
  website/static/css/components.css
  website/static/css/custom.css
  website/versioned_docs/version-4.0.0-beta.0/repo/contributing.md
Due: base

docs: theme customisation page (#3298)
  website/versioned_docs/version-3.4.2/customization.md
Due: none

docs: update Icon documentation (#3307)
  website/docs/main/usage/Icon/Icon.mdx
  website/versioned_docs/version-4.0.0-beta.0/main/usage/Icon/Icon.md
Due: none

docs: update theme customisation page (#3310)
  website/versioned_docs/version-4.0.0-beta.0/customization.md
Due: none

chore(example): fix button title alignment (#3308)
  example/src/views/lists/content.tsx
Due: none

feat(themed)!: new ThemeProvider API (#3302)
  example/App.tsx
  example/src/navigation/DrawerNavigator.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/colorsDark.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/config/theme.tsx
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
  website/docs/customization.md
Due: themed

chore: Update bug report form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: updated Input.md link for Text props (#3313)
  website/versioned_docs/version-4.0.0-beta.0/main/Input.md
Due: none

unwanted tests
  src/CheckBox/__tests__/__snapshots__/CheckBox.tsx.snap
  src/Dialog/__tests__/__snapshots__/Dialog.tsx.snap
  src/Overlay/__tests__/__snapshots__/Overlay.tsx.snap
Due: none

fix(themeColors): add support for dark mode (#3078)
  packages/base/src/CheckBox/CheckBox.tsx
  packages/base/src/CheckBox/__tests__/__snapshots__/CheckBox.test.tsx.snap
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/base/src/ListItem/ListItem.Subtitle.tsx
  packages/base/src/Overlay/Overlay.tsx
Due: base

Fix Button title alignment
  example/src/views/fab.tsx
Due: none

Fix FabButton with title size
  example/src/views/fab.tsx
Due: none

Title text padding fix
  example/src/views/tiles.tsx
Due: none

Fixed image link
  example/src/views/avatars.tsx
Due: none

commit
  .gitignore
  package.json
Due: none

Okay
  .github/workflows/r.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

remove
  .github/workflows/release.yml
Due: none

rename-pkg
  .gitignore
  example/package.json
  example/tsconfig.json
  packages/circular-slider/.gitignore
  packages/circular-slider/.prettierrc
  packages/circular-slider/.travis.yml
  packages/circular-slider/README.md
  packages/circular-slider/babel.config.js
  packages/circular-slider/package.json
  packages/circular-slider/src/CircularSlider/CircularSlider.tsx
  packages/circular-slider/src/CircularSlider/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/CircularSlider/index.ts
  packages/circular-slider/src/index.ts
  packages/circular-slider/tsconfig.json
Due: none

test
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  package.json
  website/blog/2021-08-12-auto-generation-of-docs.md
  website/package.json
Due: none

chore: update changelog & yarn v3 (#3312)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/release.yml
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .gitignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  CHANGELOG.old.md
  CONTRIBUTING.md
  example/package.json
  package.json
  packages/base/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/universe/package.json
  website/.gitignore
  website/.yarn/releases/yarn-3.1.1.cjs
  website/blog/2021-08-12-auto-generation-of-docs.md
  website/package.json
  website/yarn.lock
  yarn.lock
Due: base, themed, universe

ci: update cache path
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
