Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

Update Button.tsx
  packages/base/src/Button/Button.tsx
Due: base

Update Button.mdx
  website/docs/components/Button.mdx
Due: none

docs(Button): fix typos (#3661)
  packages/base/src/Button/Button.tsx
  website/docs/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.1/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.2/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.3/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.4/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.5/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.6/components/Button.mdx
Due: base

WIP
  packages/base/src/Switch/Switch.tsx
  website/docs/components/Avatar.Accessory.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tooltip.mdx
Due: base

docs: add usage Live example (#3669)
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Switch/Switch.tsx
  packages/base/src/Tooltip/Tooltip.tsx
  website/docs/components/Avatar.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tooltip.mdx
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/src/theme/ReactLiveScope/index.js
Due: base

bump version
  packages/base/CHANGELOG.md
  packages/base/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: base, themed

Update docusaurus.config.js
  website/docusaurus.config.js
Due: none

website: fix crawler multiple urls (#3672)
  website/docusaurus.config.js
Due: none

Create index.ts
  index.ts
Due: none

Update index.ts
  index.ts
Due: none

WIP
  packages/base/.docgenignore
  packages/themed/.docgenignore
  scripts/docgen/index.ts
  scripts/docgen/utils.ts
Due: base, themed

Delete index.ts
  index.ts
Due: none

WIP
  packages/base/.docgenignore
  scripts/.eslintrc
  scripts/docgen/index.ts
  scripts/release/index.ts
Due: base

WIP
  packages/themed/.docgenignore
  scripts/docgen/README.md
  scripts/docgen/index.ts
Due: themed

WIP
  scripts/docgen/README.md
Due: none

chore: add docgen-ignore (#3675)
  packages/base/.docgenignore
  packages/themed/.docgenignore
  scripts/.eslintrc
  scripts/docgen/README.md
  scripts/docgen/index.ts
  scripts/docgen/utils.ts
  scripts/release/index.ts
Due: base, themed

WIP
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  CODE_OF_CONDUCT.md
  README.md
  packages/base/README.md
  packages/themed/README.md
  website/docusaurus.config.js
  website/src/components/Community.tsx
  website/src/pages/help.tsx
  website/src/theme/Footer.tsx
Due: base, themed

chore: add discord community link (#3679)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  CODE_OF_CONDUCT.md
  README.md
  packages/base/README.md
  packages/themed/README.md
  website/docusaurus.config.js
  website/src/components/Community.tsx
  website/src/pages/help.tsx
  website/src/theme/Footer.tsx
Due: base, themed

feat(Overlay): add KeyboardAvoidingView (#3453)
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/base/src/Overlay/Overlay.tsx
  packages/base/src/helpers/index.tsx
Due: base

fix: migrate expo init command
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.7/installation.mdx
Due: none

WIP
  packages/base/src/ListItem/ListItem.Swipeable.tsx
Due: base

update yarn lock
  yarn.lock
Due: none

docs: change `expo init` to `create-expo-app` (#3682)
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.7/installation.mdx
  yarn.lock
Due: none

Add ListItemSwipable to ComponentTheme interface
  packages/themed/src/config/theme.component.ts
Due: themed

Add ListItemSwipable to ComponentTheme interface (#3691)
  packages/themed/src/config/theme.component.ts
Due: themed

WIP
  packages/base/src/Tab/Tab.Item.tsx
Due: base

WIP
  .github/workflows/PR-preview-bleeding-edge.yml
  .github/workflows/PR-preview-expo.yml
  .github/workflows/bleeding-edge-dist.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-expo.yml
  .github/workflows/ci-checks.yml
  .github/workflows/upgarde-expo-sdk.yml
Due: none

WIP
  .github/workflows/upgarde-expo-sdk.yml
Due: none
