Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

WIP
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
Due: themed

feat: add theme to `ComponentFunctionProps` (#3645)
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
Due: themed

Init
  packages/layout/.ci/setupTests.ts
  packages/layout/.ci/testHelper.tsx
  packages/layout/README.md
  packages/layout/package.json
  packages/layout/src/index.ts
  packages/layout/tsconfig.json
Due: none

update lock
  packages/layout/package.json
  yarn.lock
Due: none

fix(docs): Fix incorrect link for Sponsors website.
  README.md
Due: none

docs: homepage sponsor url (#3652)
  README.md
Due: none

fix: fix bug with website launching Before: after dependencies installation and starting the website it broke with 30! errors. Now: everything works.
  website/package.json
  website/yarn.lock
Due: none

website: add missing dependencies (#3653)
  website/package.json
  website/yarn.lock
Due: none

WIP
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/types.tsx
  website/docs/components/SearchBar.mdx
Due: base

update tests
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/__tests__/SearchBar.test.tsx
Due: base

feat(SeachBar): add `onKeyboardHide` for android (#3657)
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/__tests__/SearchBar.test.tsx
  packages/base/src/SearchBar/types.tsx
  website/docs/components/SearchBar.mdx
Due: base

WIP
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/base/src/helpers/colors.ts
  scripts/docgen/docgenParser.ts
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/parentProps.ts
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/src/theme/Playground/index.js
  website/yarn.lock
Due: base

WIP
  packages/base/src/Tab/Tab.tsx
  website/docs/components/Tab.mdx
  website/yarn.lock
Due: base

WIP
  packages/base/src/Tab/Tab.tsx
Due: base

WIP
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  website/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  website/.yarn/releases/yarn-3.1.1.cjs
  website/.yarn/releases/yarn-3.2.4.cjs
  website/.yarnrc.yml
  website/package.json
  website/yarn.lock
  yarn.lock
Due: none

update test
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/Tab/__tests__/Tab.test.tsx
Due: base

chore: upgrade docusaurus to latest (#3659)
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  website/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  website/.yarn/releases/yarn-3.1.1.cjs
  website/.yarn/releases/yarn-3.2.4.cjs
  website/.yarnrc.yml
  website/package.json
  website/yarn.lock
  yarn.lock
Due: none

update
  .github/actions/install/action.yml
  website/yarn.lock
Due: none

WIP
  packages/base/src/Tab/Tab.tsx
  tsconfig.json
Due: base

WIP
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
Due: themed

feat: update Tab component (#3658)
  .github/actions/install/action.yml
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/base/src/helpers/colors.ts
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  scripts/docgen/docgenParser.ts
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/parentProps.ts
  tsconfig.json
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/src/theme/Playground/index.js
  website/yarn.lock
Due: base, themed

fix: fix button docs text for version-4.0.0.0-rc.1 - bleeding edge
  website/docs/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.1/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.2/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.3/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.4/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.5/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.6/components/Button.mdx
Due: none

fix: update Button component comments/docs
  packages/base/src/Button/Button.tsx
Due: base

fix: update docs according to changed components comments/docs
  website/docs/components/Button.mdx
Due: none

fix
  packages/themed/src/config/withTheme.tsx
Due: themed

fix: property 'children' does not exist in React 18 (#3663)
  packages/themed/src/config/withTheme.tsx
Due: themed

WIP
  packages/base/src/ListItem/ListItem.tsx
  packages/base/src/PricingCard/PricingCard.tsx
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

fix: rename `white` theme color to `background` (#3664)
  packages/base/src/ListItem/ListItem.tsx
  packages/base/src/PricingCard/PricingCard.tsx
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

WIP
  README.md
  example/babel.config.js
  example/tsconfig.json
  packages/layout/.gitignore
  packages/layout/CHANGELOG.md
  packages/layout/README.md
  packages/layout/babel.config.js
  packages/layout/src/Box/index.tsx
  packages/layout/src/Grid/Grid.tsx
  packages/layout/src/Grid/GridItem.tsx
  packages/layout/src/Grid/index.tsx
  packages/layout/src/Stack/index.tsx
  packages/layout/src/index.ts
  packages/layout/src/system/SystemProp.tsx
  packages/layout/src/system/makeStyles.tsx
Due: none

add docs
  packages/layout/package.json
  packages/layout/src/system/SystemProp.ts
  packages/layout/src/system/makeStyles.ts
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/index.ts
  scripts/docgen/mdx-template.hbs
  website/docs/layout/Box.mdx
  website/docs/layout/Grid.mdx
  website/docs/layout/GridBase.mdx
  website/docs/layout/GridItemBase.mdx
  website/docs/layout/Stack.mdx
  website/docs/layout/getting_started.md
  website/docs/universe/getting_started.md
  website/sidebars.ts
  yarn.lock
Due: none

WIP
  packages/layout/src/Box/index.tsx
  website/docs/layout/Box.mdx
  website/package.json
  website/src/theme/Playground/index.js
  website/yarn.lock
Due: none

WIP
  packages/layout/src/Box/__tests__/Box.test.tsx
  packages/layout/src/Box/__tests__/__snapshots__/Box.test.tsx.snap
  packages/layout/src/Box/index.tsx
  website/docs/layout/Box.mdx
Due: none

WIP
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Switch/Switch.tsx
  packages/base/src/Tooltip/Tooltip.tsx
  website/docs/components/Avatar.Accessory.mdx
  website/docs/components/Avatar.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tooltip.mdx
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/src/theme/ReactLiveScope/index.js
Due: base

fix
  website/package.json
  website/yarn.lock
Due: none

fix
  website/docs/index.mdx
  website/static/css/custom.css
Due: none

ci: fix docs build (#3670)
  website/docs/index.mdx
  website/package.json
  website/static/css/custom.css
  website/yarn.lock
Due: none

Add button
  packages/base/src/Button/Button.tsx
  website/docs/components/Button.mdx
Due: base

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
