Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

feat(TabView): add `disableSwipe` & `disableTransition` prop (#3372)
  packages/base/src/TabView/TabView.tsx
  packages/base/src/TabView/__tests__/TabView.test.tsx
  website/docs/components/TabView.mdx
Due: base

update
  example/src/views/tabs.tsx
  example/src/views/whatsappClone.tsx
  packages/base/src/TabView/TabView.tsx
Due: base

base
  packages/base/src/Avatar/index.tsx
  packages/base/src/Card/Card.FeaturedSubtitle.tsx
  packages/base/src/Card/Card.FeaturedTitle.tsx
  packages/base/src/Card/Card.Title.tsx
  packages/base/src/Card/Card.tsx
  packages/base/src/Card/index.tsx
  packages/base/src/CheckBox/CheckBox.tsx
  packages/base/src/Dialog/Dialog.tsx
  packages/base/src/Dialog/index.tsx
  packages/base/src/Image/index.tsx
  packages/base/src/Input/Input.tsx
  packages/base/src/LinearProgress/index.tsx
  packages/base/src/ListItem/ListItem.Accordion.tsx
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  packages/base/src/ListItem/ListItem.tsx
  packages/base/src/ListItem/index.tsx
  packages/base/src/PricingCard/PricingCard.tsx
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/index.tsx
  packages/base/src/TabView/TabView.tsx
  packages/base/src/TabView/index.tsx
  packages/base/src/Text/Text.tsx
  packages/base/src/Tile/components/FeaturedTile.tsx
  packages/base/src/helpers/InlinePressableProps.tsx
  packages/base/src/helpers/colors.tsx
  packages/base/src/helpers/colorsDark.tsx
  packages/base/src/helpers/index-config.tsx
  packages/base/src/helpers/index.tsx
  packages/base/src/index.ts
Due: base

update themed
  packages/themed/src/Card/index.tsx
  packages/themed/src/Dialog/index.tsx
  packages/themed/src/ListItem/index.tsx
  packages/themed/src/SearchBar/index.tsx
  packages/themed/src/Tab/index.tsx
  packages/themed/src/TabView/index.tsx
  packages/themed/src/config/BackgroundImage.tsx
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/fonts.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/helpers/getIconStyle.tsx
  packages/themed/src/helpers/getIconType.tsx
  packages/themed/src/helpers/index.tsx
  packages/themed/src/helpers/normalizeText.tsx
  packages/themed/src/helpers/renderNode.tsx
Due: themed

update docs
  CONTRIBUTING.md
  scripts/docgen/parentProps.ts
  website/docs/component_usage/ListItem.Accordion.mdx
  website/docs/component_usage/ListItem.Swipeable.mdx
  website/docs/component_usage/ListItem.mdx
  website/docs/components/Avatar.Accessory.mdx
  website/docs/components/Card.Divider.mdx
  website/docs/components/Card.FeaturedSubtitle.mdx
  website/docs/components/Card.FeaturedTitle.mdx
  website/docs/components/Card.Image.mdx
  website/docs/components/Card.Title.mdx
  website/docs/components/Card.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Dialog.Button.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/FAB.mdx
  website/docs/components/ListItem.Accordion.mdx
  website/docs/components/ListItem.ButtonGroup.mdx
  website/docs/components/ListItem.CheckBox.mdx
  website/docs/components/ListItem.Chevron.mdx
  website/docs/components/ListItem.Content.mdx
  website/docs/components/ListItem.Input.mdx
  website/docs/components/ListItem.Swipeable.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/SearchBar.mdx
  website/docs/components/SpeedDial.Action.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/static/img/website/ci-checks.png
Due: none

update themed
  packages/base/src/helpers/index.tsx
  packages/themed/.ci/testHelper.tsx
  packages/themed/package.json
  packages/themed/src/Badge/__tests__/withBadge.test.tsx
  packages/themed/src/Card/__tests__/Card.test.tsx
  packages/themed/src/CheckBox/__tests__/CheckBox.test.tsx
  packages/themed/src/Chip/__tests__/Chip.test.tsx
  packages/themed/src/Dialog/__tests__/Dialog.test.tsx
  packages/themed/src/Divider/__tests__/Divider.test.tsx
  packages/themed/src/FAB/__tests__/FAB.test.tsx
  packages/themed/src/Header/__tests__/Header.test.tsx
  packages/themed/src/Icon/__tests__/Icon.test.tsx
  packages/themed/src/Input/__tests__/Input.test.tsx
  packages/themed/src/LinearProgress/__tests__/LinearProgress.test.tsx
  packages/themed/src/ListItem/__tests__/ListItem.test.tsx
  packages/themed/src/Overlay/__tests__/Overlay.test.tsx
  packages/themed/src/PricingCard/__tests__/PricingCard.test.tsx
  packages/themed/src/Slider/__tests__/Slider.test.tsx
  packages/themed/src/SpeedDial/__tests__/SpeedDial.test.tsx
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/Switch/__tests__/Switch.test.tsx
  packages/themed/src/Tab/__tests__/Tab.test.tsx
  packages/themed/src/Tab/index.tsx
  packages/themed/src/TabView/__tests__/TabView.test.tsx
  packages/themed/src/TabView/index.tsx
  packages/themed/src/Text/__tests__/Text.test.tsx
  packages/themed/src/Tile/__tests__/FeaturedTile.test.tsx
  packages/themed/src/Tile/__tests__/Tile.test.tsx
  packages/themed/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/colors.test.tsx
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/index.tsx
  packages/themed/src/config/theme.tsx
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: base, themed

update lint
  .eslintignore
  .eslintrc
  packages/base/src/Button/Button.tsx
Due: base

update tests
  packages/base/src/SpeedDial/__tests__/SpeedDial.test.tsx
  packages/themed/src/SpeedDial/__tests__/SpeedDial.test.tsx
Due: base, themed

update tests
  packages/base/src/Badge/__tests__/Badge.test.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/base/src/helpers/__tests__/colors.test.tsx
Due: base

update docs
  packages/base/src/TabView/TabView.tsx
  website/docs/components/TabView.mdx
Due: base

add to readme
  packages/base/README.md
Due: base

Removed unneccessary styles
  packages/base/src/Dialog/Dialog.tsx
Due: base

update
  package.json
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/mdx-template.hbs
  scripts/docgen/parentProps.ts
  website/docs/universe/CircularSlider.mdx
  yarn.lock
Due: none

Revert "add to readme"
  packages/base/README.md
Due: base

remove unused code
  package.json
  scripts/docgen/utils.ts
Due: none

chore(autodoc): move to handlebar template (#3385)
  package.json
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/mdx-template.hbs
  scripts/docgen/parentProps.ts
  scripts/docgen/utils.ts
  website/docs/universe/CircularSlider.mdx
  yarn.lock
Due: none

update
  scripts/release/index.ts
  scripts/release/tsconfig.json
Due: none

chore: add release script (#3386)
  scripts/release/index.ts
  scripts/release/tsconfig.json
Due: none

Removed View Container
  packages/base/src/Dialog/Dialog.tsx
Due: base

update snap
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
Due: base

fix(Dialog): remove container view (#3384)
  packages/base/src/Dialog/Dialog.tsx
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
Due: base

update
  website/docs/installation.mdx
  website/versioned_docs/version-4.0.0-rc.0/installation.mdx
Due: none

bump versions
  packages/base/CHANGELOG.md
  packages/base/package.json
  packages/circular-slider/CHANGELOG.md
  packages/circular-slider/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: base, themed

update
  packages/base/package.json
  packages/circular-slider/package.json
  packages/themed/package.json
Due: base, themed

chore: format changelog
  packages/base/CHANGELOG.md
  packages/circular-slider/CHANGELOG.md
  packages/themed/CHANGELOG.md
  website/docs/repo/contributing.mdx
  website/versioned_docs/version-4.0.0-rc.0/repo/contributing.mdx
Due: base, themed

add support to conditionally render Tab and TabView items
  packages/base/src/Tab/Tab.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/base/src/TabView/TabView.tsx
  packages/base/src/TabView/__tests__/TabView.test.tsx
Due: base

docs: add github pkg in migration guide
  website/docs/migration-guide.md
  website/versioned_docs/version-4.0.0-rc.0/migration-guide.md
Due: none

docs: update installation guide
  website/docs/installation.mdx
  website/docs/overview.mdx
  website/versioned_docs/version-4.0.0-rc.0/installation.mdx
  website/versioned_docs/version-4.0.0-rc.0/migration-guide.md
  website/versioned_docs/version-4.0.0-rc.0/overview.mdx
Due: none

docs: update installation guide (#3400)
  website/docs/installation.mdx
  website/docs/overview.mdx
  website/versioned_docs/version-4.0.0-rc.0/installation.mdx
  website/versioned_docs/version-4.0.0-rc.0/migration-guide.md
  website/versioned_docs/version-4.0.0-rc.0/overview.mdx
Due: none

update expo preview
  .github/workflows/expo.yml
  README.md
  example/app.json
  example/package.json
  packages/base/README.md
  packages/circular-slider/README.md
  packages/themed/README.md
  website/src/components/RunOnExpo.tsx
  website/static/img/website/expo-go-qr.svg
  yarn.lock
Due: base, themed

update lock
  yarn.lock
Due: none

Update
  .github/workflows/expo.yml
Due: none
