Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  README.md
  example/src/views/circularSlider.tsx
  packages/circular-slider/.travis.yml
Due: none

fix(example): update broken views(#3317)
  example/src/views/avatars.tsx
  example/src/views/tiles.tsx
Due: none

fix FAB Button
  example/src/views/fab.tsx
  packages/base/src/FAB/FAB.tsx
Due: base

fix fab button
  example/src/views/fab.tsx
  packages/base/src/FAB/FAB.tsx
Due: base

ok
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/withTheme.tsx
Due: themed

update yarn lock
  yarn.lock
Due: none

revert gitignore
  .gitignore
Due: none

Test
  .github/actions/install/action.yml
  .github/workflows/test.yml
Due: none

update
  .github/actions/install/action.yml
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

trigger
  .github/workflows/test.yml
Due: none

ci: reuse install steps (#3325)
  .github/actions/install/action.yml
  .github/workflows/dist.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

updaet
  .github/workflows/dist.yml
  .github/workflows/test.yml
  website/docs/getting_started.md
  website/docs/repo/contributing.mdx
  website/docs/universe/circularSlider.md
  website/docs/universe/circularSlider.mdx
  website/docs/universe/getting_started.md
  website/docs/universe/props/circularslider.md
  website/sidebars.json
  website/versioned_sidebars/version-3.4.2-sidebars.json
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
Due: none

chore: separate universe components (#3323)
  .github/workflows/dist.yml
  .github/workflows/test.yml
  README.md
  example/src/views/circularSlider.tsx
  example/tsconfig.json
  packages/circular-slider/.gitignore
  packages/circular-slider/.prettierrc
  packages/circular-slider/README.md
  packages/circular-slider/babel.config.js
  packages/circular-slider/package.json
  packages/circular-slider/src/CircularSlider/CircularSlider.tsx
  packages/circular-slider/src/CircularSlider/__tests__/CircularSlider.test.tsx
  packages/circular-slider/src/CircularSlider/index.ts
  packages/circular-slider/src/index.ts
  packages/circular-slider/tsconfig.json
  packages/universe/.travis.yml
  website/docs/getting_started.md
  website/docs/repo/contributing.mdx
  website/docs/universe/circularSlider.md
  website/docs/universe/circularSlider.mdx
  website/docs/universe/getting_started.md
  website/docs/universe/props/circularslider.md
  website/sidebars.json
  website/versioned_sidebars/version-3.4.2-sidebars.json
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
  yarn.lock
Due: universe

chore: remove remaining universe from README
  CONTRIBUTING.md
  README.md
  codecov.yml
  packages/circular-slider/README.md
  packages/circular-slider/package.json
Due: none

update tests
  packages/base/src/FAB/__tests__/FAB.test.tsx
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
Due: base

fix(FAB): add small size style (#3322)
  example/src/views/fab.tsx
  packages/base/src/FAB/FAB.tsx
  packages/base/src/FAB/__tests__/FAB.test.tsx
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
Due: base

Add testID to ListItem.Accordion views
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

minimal changes
  website/versioned_docs/version-4.0.0-beta.0/getting_started.md
Due: none

fix(AirbnbRatings): props not being passed to module
  src/AirbnbRating/AirbnbRating.tsx
Due: none

Scrolling was added to tabs. Implemetation:ScrollView added to map along with scrollHandler( ) function which syncs the scrollview with active tab.
  example/src/views/tabs.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

Update Tab.tsx
  packages/base/src/Tab/Tab.tsx
Due: base

update
  website/docs/installation.md
  website/docs/templates.md
  website/docs/usage.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.json
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
  website/yarn.lock
Due: none

update
  website/sidebars.json
  website/static/css/custom.css
Due: none

update
  website/docs/templates.md
Due: none

website: update docs and styles (#3337)
  website/docs/installation.md
  website/docs/usage.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.json
  website/src/components/Hero.tsx
  website/src/components/Installation.tsx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
  website/versioned_sidebars/version-4.0.0-beta.0-sidebars.json
  website/yarn.lock
Due: none

test(ListItem): add testID in Accordion (#3329)
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

docs: update installation page (#3334)
  website/versioned_docs/version-4.0.0-beta.0/getting_started.md
Due: none

fix(AirbnbRating): add props to parent component (#3335)
  packages/base/src/AirbnbRating/AirbnbRating.tsx
Due: base

example: fix module resolver
  example/babel.config.js
Due: none

update styles
  example/src/views/bottomsheet.tsx
  packages/base/src/BottomSheet/BottomSheet.tsx
Due: base

update test
  packages/base/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
Due: base

update docs
  website/docs/main/BottomSheet.mdx
Due: none

feat(BottomSheet): add onBackdropPress handler (#3074)
  example/src/views/bottomsheet.tsx
  packages/base/src/BottomSheet/BottomSheet.tsx
  packages/base/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
  website/docs/main/BottomSheet.mdx
Due: base

chore: update bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

ci: update peer dependency for themed
  packages/base/package.json
  packages/themed/package.json
Due: base, themed

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
