Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

fix: remove deprecated style type
  example/src/helpers/AssetsCaching.web.tsx
Due: none

Fixed absolute path issue in link for consistent URLs
  website/docs/index.mdx
  website/versioned_docs/version-4.0.0-rc.8/index.mdx
Due: none

fix(themed): update @rneui/base dependency
  packages/themed/package.json
Due: themed

chore: upgrade to yarn 4
  .gitignore
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix(makeStyles): make props mandatory when declared non-empty
  packages/themed/src/config/makeStyles.ts
Due: themed

chore: use yarn 4 as task runner
  example/package.json
  package.json
  packages/base/package.json
  packages/themed/package.json
Due: base, themed

chore: add script to create packages
  .gitignore
  package.json
Due: none

fix(SocialIcon): handle button prop correctly
  packages/base/src/SocialIcon/SocialIcon.tsx
Due: base

fix(SearchBar): fixed ios search bar icons issue
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

fix(SocialIcon): added missing apple social icon
  packages/base/src/SocialIcon/SocialIcon.tsx
Due: base

Reverted versioned docs
  website/versioned_docs/version-4.0.0-rc.8/index.mdx
Due: none

fix: update themed package version to latest
  packages/themed/package.json
  yarn.lock
Due: themed

fix navbar-sidebar
  package.json
  website/static/css/custom.css
  website/yarn.lock
  yarn.lock
Due: none

fix(base,example): Dialog.title not honoring theme in dark mode.
  example/src/views/dialogs.tsx
  package.json
  packages/base/src/Dialog/Dialog.Title.tsx
  packages/themed/src/Dialog/__tests__/Dialog.test.tsx
Due: base, themed

fix: SpeedDial component cant work in web platform
  packages/base/src/SpeedDial/SpeedDial.tsx
Due: base

fix(theme): Dialog.title lint formatting.
  packages/themed/src/Dialog/__tests__/Dialog.test.tsx
Due: themed

format code
  packages/base/src/SpeedDial/SpeedDial.tsx
Due: base

fix(SpeedDial): component cant work in web platform (#3880)
  packages/base/src/SpeedDial/SpeedDial.tsx
Due: base

fix(SocialIcon): handle button prop correctly (#3860)
  packages/base/src/SocialIcon/SocialIcon.tsx
Due: base

fix lint
  packages/themed/src/config/makeStyles.ts
Due: themed

fix(makeStyles): Fix object literal outside useMemo causing styles to change on every render (#3844)
  packages/themed/src/config/makeStyles.ts
Due: themed

fix(Website/Sponsors): increase the clickable area
  website/src/components/Sponsor.tsx
  website/static/css/custom.css
Due: none

enhance[docs]: Fixed typos in CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

feat: add testID props to SpeedDial.Action and ListItem.Swipeable (#3786)
  packages/base/src/ListItem/ListItem.Swipeable.tsx
  packages/base/src/SpeedDial/SpeedDial.Action.tsx
Due: base

Move testing libraries into devDeps rather than peerDeps for base package
  packages/base/package.json
  yarn.lock
Due: base

feat(button-group): add accessibilityLabel and accessibilityHint support for custom buttons (#3196)
  example/src/views/buttons.tsx
  packages/base/src/ButtonGroup/ButtonGroup.tsx
Due: base

fix: replace deprecated source.unsplash.com URL
  website/docs/component_usage/Image.mdx
Due: none

fix(Button): narrow ButtonProps children to ReactNode
  packages/base/src/Button/Button.tsx
Due: base

fix(ListItem): align Content and Title prop types with rendered elements
  packages/base/src/ListItem/ListItem.Content.tsx
  packages/base/src/ListItem/ListItem.Title.tsx
Due: base

fix(SearchBar): remove stray key field spread into Icon props
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

fix(ButtonGroup): forward accessibility props
  packages/base/src/ButtonGroup/ButtonGroup.tsx
  packages/base/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
Due: base

fix(Icon): own vector icon prop types
  packages/base/package.json
  packages/base/src/Icon/Icon.tsx
  website/docs/components/Icon.mdx
  website/docs/components/SpeedDial.Action.mdx
  yarn.lock
Due: base

fix(SpeedDial): honor backdrop pressable props
  packages/base/src/SpeedDial/SpeedDial.tsx
  packages/base/src/SpeedDial/__tests__/SpeedDial.test.tsx
Due: base
