Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

fix(ButtonGroup): add and improve types and add tests (#3220)
  packages/base/src/ButtonGroup/ButtonGroup.tsx
  packages/base/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
  packages/base/src/ButtonGroup/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  website/docs/components/ButtonGroup.mdx
Due: base

WIP
  website/docs/components/Input.mdx
  website/docs/components/SearchBar.mdx
Due: none

WIP
  packages/base/src/Input/Input.tsx
  packages/base/src/SearchBar/types.tsx
  scripts/docgen/utils.ts
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Divider.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Image.mdx
  website/docs/components/LinearProgress.mdx
  website/docs/components/ListItem.Swipeable.mdx
  website/docs/components/PricingCard.mdx
  website/docs/components/SearchBar.mdx
  website/docs/components/Skeleton.mdx
  website/docs/components/Slider.mdx
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/docs/components/Tile.mdx
  website/docs/components/Tooltip.mdx
Due: base

docs: add tsdoc for Input & SearchBar (#3541)
  packages/base/src/Input/Input.tsx
  packages/base/src/SearchBar/types.tsx
  scripts/docgen/utils.ts
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Divider.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Image.mdx
  website/docs/components/Input.mdx
  website/docs/components/LinearProgress.mdx
  website/docs/components/ListItem.Swipeable.mdx
  website/docs/components/PricingCard.mdx
  website/docs/components/SearchBar.mdx
  website/docs/components/Skeleton.mdx
  website/docs/components/Slider.mdx
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/docs/components/Tile.mdx
  website/docs/components/Tooltip.mdx
Due: base

remove lightTheme & example update
  example/src/views/inputs.tsx
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

test updated
  package.json
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
Due: base, themed

colors updates
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/SearchBar-default.tsx
  packages/base/src/SearchBar/SearchBar-ios.tsx
Due: base

test updated
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar-default.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
Due: base, themed

added keyboard.dismiss
  example/src/views/inputs.tsx
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/__tests__/SearchBar.test.tsx
Due: base

update
  packages/base/src/SearchBar/SearchBar-android.tsx
Due: base

overlay update
  packages/base/src/Overlay/Overlay.tsx
  packages/base/src/helpers/index.tsx
Due: base

icon - added loading, loadingProps, loadingStyle
  packages/base/src/Icon/Icon.tsx
  website/docs/components/Icon.mdx
  yarn.lock
Due: base

fix: fix peerDependency compatibility
  packages/base/package.json
Due: base

fix: fix peerDependency compatibility (#3545)
  packages/base/package.json
Due: base

fix(Tooltip): fix bug in Tooltip.tsx with hermes in simulators
  packages/base/src/Tooltip/Tooltip.tsx
Due: base

corrected the description for the h4Style prop
  website/versioned_docs/version-4.0.0-rc.4/components/Text.mdx
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix(Tooltip): add default value in measure component (#3550)
  packages/base/src/Tooltip/Tooltip.tsx
  yarn.lock
Due: base

website: fix Tooltip(.mdx&.md)
  website/docs/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-beta.0/main/usage/Tooltip/snack/index.md
  website/versioned_docs/version-4.0.0-rc.1/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.2/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.3/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.4/component_usage/Tooltip.mdx
Due: none

website: fix Tooltip(.mdx&.md) (#3560)
  website/docs/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-beta.0/main/usage/Tooltip/snack/index.md
  website/versioned_docs/version-4.0.0-rc.1/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.2/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.3/component_usage/Tooltip.mdx
  website/versioned_docs/version-4.0.0-rc.4/component_usage/Tooltip.mdx
Due: none

docs: corrected the description for the h4Style (#3551)
  website/versioned_docs/version-4.0.0-rc.4/components/Text.mdx
Due: none

add
  packages/base/src/Button/Button.tsx
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: base, themed

add tests
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
Due: themed

update example
  example/src/views/buttons.tsx
  example/src/views/skeleton.tsx
  packages/base/src/Button/Button.tsx
Due: base

Update
  packages/base/src/Tab/Tab.tsx
Due: base

WIP
  .github/workflows/dist-preview.yml
Due: none
