Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

add more
  packages/base/src/Card/Card.usage.tsx
  website/docs/components/Card.mdx
  website/versioned_docs/version-4.0.0-rc.7/component_usage/ListItem.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Card.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/ListItem.mdx
Due: base

WIP
  packages/themed/src/config/ThemeProvider.tsx
Due: themed

WIP
  packages/base/src/Avatar/Avatar.tsx
Due: base

add avatar
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/Avatar.usage.tsx
  website/docs/components/Avatar.mdx
Due: base

docs: add usage examples for listitem & card (#3733)
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/Avatar.usage.tsx
  packages/base/src/Card/Card.usage.tsx
  packages/base/src/CheckBox/CheckBox.usage.tsx
  packages/base/src/ListItem/ListItem.usage.tsx
  website/docs/components/Avatar.mdx
  website/docs/components/Card.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/ListItem.mdx
  website/versioned_docs/version-4.0.0-rc.7/component_usage/ListItem.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Button.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Card.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/CheckBox.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/ListItem.mdx
Due: base

Update index.html
  index.html
Due: none

WIP
  example/App.tsx
  example/src/navigation/DrawerNavigator.tsx
  packages/base/src/Avatar/Avatar.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  website/docs/customization/themeprovider.mdx
Due: base, themed

Added missing type
  packages/base/src/Slider/Slider.tsx
Due: base

add edges support for SafeAreaView so that modals using header can support proper padding disable for web
  packages/base/src/Header/Header.tsx
Due: base

adding to header props missing prop addition
  packages/base/src/Header/Header.tsx
Due: base

fixing errors for lint and type specifications
  packages/base/src/Header/Header.tsx
Due: base

lint issue
  packages/base/src/Header/Header.tsx
Due: base

fixing typo
  packages/base/src/Header/Header.tsx
Due: base

WIP
  packages/base/src/Header/Header.tsx
  website/docs/components/Header.mdx
Due: base

feat(Header): add edges support for SafeAreaView (#3741)
  packages/base/src/Header/Header.tsx
  website/docs/components/Header.mdx
Due: base

fix(Slider): add missing type (#3738)
  packages/base/src/Slider/Slider.tsx
Due: base

docs: docusaurus upgrade
  website/package.json
  website/yarn.lock
Due: none

Update AirbnbRating.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/AirbnbRating.mdx
Due: none

website: docusaurus upgrade (#3745)
  website/package.json
  website/yarn.lock
Due: none

fix: rendering of Rating component in documentation
  website/sidebars.ts
Due: none

fix(website): add Rating to sidebar (#3753)
  website/sidebars.ts
Due: none

feat(Input): specify an Input ErrorComponent
  example/src/views/inputs.tsx
  packages/base/src/Input/Input.tsx
  packages/base/src/Input/__tests__/Input.test.tsx
  website/docs/components/Input.mdx
Due: base

fix: improve avatar component
  example/src/views/avatars.tsx
  packages/base/src/Avatar/Avatar.tsx
  packages/base/src/Avatar/__tests__/Avatar.test.tsx
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/base/src/Avatar/index.tsx
  website/docs/components/Avatar.mdx
  website/playground/Avatar/avatar.playground.tsx
  website/yarn.lock
Due: base

feat(website): adds playground link to the website hero
  website/src/components/Hero.tsx
  website/static/css/components.css
Due: none

feat(website): adds playground link to the website hero (#3765)
  website/src/components/Hero.tsx
  website/static/css/components.css
Due: none

fix(withTheme): refs on functional components wrapped (#3708)
  packages/themed/src/config/withTheme.tsx
Due: themed

fix (CheckBoxIcon): reduce needless re-rendering of CheckBoxIcon
  packages/base/src/CheckBox/components/CheckBoxIcon.tsx
Due: base

remove unused imports
  example/src/components/header.tsx
Due: none

fix tab indicator when app is in RTL orientation
  packages/base/src/Tab/Tab.tsx
Due: base

fix indentation
  packages/base/src/Tab/Tab.tsx
Due: base

Update Dialog.mdx
  website/versioned_docs/version-4.0.0-rc.7/components/Dialog.mdx
Due: none
