Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

chore: update docs link in README
  README.md
Due: none

docs: add `styled-components` troubleshooting
  website/versioned_docs/version-3.4.2/troubleshooting.md
Due: none

docs: update some text
  website/versioned_docs/version-3.4.2/troubleshooting.md
Due: none

docs: add `styled-components` troubleshooting (#3408)
  website/versioned_docs/version-3.4.2/troubleshooting.md
Due: none

docs: update installation guide for yarn v2+
  website/src/components/StartNow.tsx
  website/versioned_docs/version-4.0.0-rc.0/installation.mdx
  website/versioned_docs/version-4.0.0-rc.0/migration-guide.md
Due: none

Include resetCallback example
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Swipeable.mdx
Due: none

Include swipeable resetCallback example
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Swipeable.mdx
Due: none

Include example for swipeable resetCallback
  website/docs/component_usage/ListItem.Swipeable.mdx
Due: none

Update ListItem.Swipeable.mdx
  website/docs/component_usage/ListItem.Swipeable.mdx
Due: none

docs: Include swipeable resetCallback example (#3411)
  website/docs/component_usage/ListItem.Swipeable.mdx
  website/versioned_docs/version-4.0.0-rc.0/component_usage/ListItem.Swipeable.mdx
Due: none

Change color to colors
  website/docs/customization/color.mdx
Due: none

revert actions
  .github/actions/install/action.yml
  .github/workflows/dist.yml
  yarn.lock
Due: none

revert color version
  packages/base/package.json
  yarn.lock
Due: base

revert ThemeProvider
  packages/themed/src/config/ThemeProvider.tsx
Due: themed

update ThemeProvider
  packages/base/src/helpers/colors.ts
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/colors.ts
  packages/themed/src/config/colors.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: base, themed

update
  packages/base/src/helpers/colors.ts
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/index.ts
Due: base, themed

update
  packages/themed/src/index.ts
  website/docs/customization/color.mdx
  website/docs/migration-guide.md
Due: themed

update migration guide
  website/docs/migration-guide.md
Due: none

revert remove ThemeProps
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/withTheme.tsx
Due: themed

update test
  packages/themed/src/config/__tests__/withTheme.test.tsx
Due: themed

update var name
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  packages/themed/src/config/withTheme.tsx
  website/docs/customization/pitfall.mdx
Due: themed

feat(ThemeProvider)!: update withTheme and ThemeProvider (#3324)
  lerna.json
  package.json
  packages/base/package.json
  packages/base/src/helpers/colors.ts
  packages/circular-slider/README.md
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/colors.ts
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
  website/docs/customization/color.mdx
  website/docs/customization/components.mdx
  website/docs/customization/overview.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docs/migration-guide.md
  yarn.lock
Due: base, themed

update
  packages/base/src/CheckBox/CheckBox.tsx
  packages/base/src/Input/Input.tsx
  packages/base/src/helpers/colors.ts
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
Due: base, themed

update
  example/App.tsx
  example/src/helpers/AssetsCaching.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/views/Divider.tsx
  example/src/views/avatars.tsx
  example/src/views/badge.tsx
  example/src/views/inputs.tsx
  example/src/views/theme.tsx
Due: none

example: fix typescript errors (#3419)
  example/App.tsx
  example/src/helpers/AssetsCaching.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/views/Divider.tsx
  example/src/views/avatars.tsx
  example/src/views/badge.tsx
  example/src/views/inputs.tsx
  example/src/views/theme.tsx
Due: none

update docs
  website/docs/components/Input.mdx
Due: none

update guide
  website/docs/migration-guide.md
Due: none

add color visual
  website/docs/customization/Color.tsx
  website/docs/customization/color.mdx
  website/docs/customization/theming.mdx
Due: none

fix: remove Partial Color Type (#3418)
  packages/base/src/CheckBox/CheckBox.tsx
  packages/base/src/Input/Input.tsx
  packages/base/src/helpers/colors.ts
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  website/docs/components/Input.mdx
  website/docs/customization/Color.tsx
  website/docs/customization/color.mdx
  website/docs/customization/theming.mdx
  website/docs/migration-guide.md
Due: base, themed

Update color.mdx
  website/versioned_docs/version-4.0.0-rc.0/customization/color.mdx
Due: none

docs: fix "colors" typo (#3416)
  website/versioned_docs/version-4.0.0-rc.0/customization/color.mdx
Due: none

update docs
  packages/circular-slider/package.json
  website/docs/universe/CircularSlider.mdx
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
