Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

WIP
  package.json
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/Button.usage.tsx
  scripts/docgen/index.ts
  scripts/docgen/lib/index.ts
  scripts/docgen/lib/package.json
  scripts/docgen/src/index.ts
  scripts/docgen/src/parser/docgenParser.ts
  scripts/docgen/src/parser/usageParser.ts
  scripts/docgen/src/templates/mdx-template.hbs
  scripts/docgen/src/utils/common.ts
  scripts/docgen/src/utils/markdown.ts
  scripts/docgen/src/utils/parentProps.ts
  scripts/docgen/src/utils/platformMappingHandler.ts
  scripts/usage-gen/lib/demo.tsx
  scripts/usage-gen/lib/index.ts
  scripts/usage-gen/lib/parser.ts
  website/docs/components/Button.mdx
  yarn.lock
Due: base

WIP
  packages/base/tsconfig.json
Due: base

WIP
  package.json
  scripts/usage-gen/lib/demo.tsx
  scripts/usage-gen/lib/index.ts
  scripts/usage-gen/lib/parser.ts
  scripts/usage-gen/package.json
  scripts/usage-gen/src/index.ts
  scripts/usage-gen/tsconfig.json
Due: none

WIP
  packages/base/src/FAB/FAB.usage.tsx
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Skeleton/Skeleton.usage.tsx
  scripts/docgen/src/utils/markdown.ts
  website/docs/components/FAB.mdx
  website/docs/components/LinearProgress.mdx
Due: base

WIP
  packages/base/src/CheckBox/CheckBox.usage.tsx
  website/docs/components/CheckBox.mdx
  website/docs/components/LinearProgress.mdx
Due: base

Update package.json
  packages/base/package.json
Due: base

docs: auto build usages from `*.usage.tsx` files (#3707)
  package.json
  packages/base/package.json
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/Button.usage.tsx
  packages/base/src/CheckBox/CheckBox.usage.tsx
  packages/base/src/FAB/FAB.usage.tsx
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Skeleton/Skeleton.usage.tsx
  packages/base/tsconfig.json
  scripts/docgen/index.ts
  scripts/docgen/lib/index.ts
  scripts/docgen/lib/package.json
  scripts/docgen/src/index.ts
  scripts/docgen/src/parser/docgenParser.ts
  scripts/docgen/src/parser/usageParser.ts
  scripts/docgen/src/templates/mdx-template.hbs
  scripts/docgen/src/utils/common.ts
  scripts/docgen/src/utils/markdown.ts
  scripts/docgen/src/utils/parentProps.ts
  scripts/docgen/src/utils/platformMappingHandler.ts
  tsconfig.tsbuildinfo
  website/docs/components/Button.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/FAB.mdx
  yarn.lock
Due: base

fix: refs on functional components wrapped with withTheme HOC
  packages/themed/src/config/withTheme.tsx
Due: themed

WIP
  lerna.json
  package.json
  packages/base/src/CheckBox/CheckBox.usage.tsx
  scripts/docgen/lib/index.ts
  scripts/docgen/src/index.ts
  scripts/docgen/src/parser/usageParser.ts
  scripts/docgen/src/utils/markdown.ts
  website/docs/components/CheckBox.mdx
  website/src/theme/Playground/index.js
  yarn.lock
Due: base

WIP
  package.json
  scripts/docgen/lib/index.ts
  scripts/docgen/src/components.ts
  scripts/docgen/src/index.ts
  scripts/docgen/src/parser/usageParser.ts
  website/docs/components/Button.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/FAB.mdx
  yarn.lock
Due: none

WIP
  README.md
Due: none

WIP
  website/src/components/Hero.tsx
  website/static/css/components.css
  website/static/css/custom.css
Due: none

add themed
  packages/layout/src/themed.ts
  scripts/docgen/src/utils/markdown.ts
Due: none

WIP
  tsconfig.json
Due: none

skip tests
  scripts/docgen/lib/package.json
Due: none

tooling: add support for jsx functions for usage generate (#3711)
  README.md
  lerna.json
  package.json
  packages/base/src/CheckBox/CheckBox.usage.tsx
  scripts/docgen/lib/index.ts
  scripts/docgen/lib/package.json
  scripts/docgen/src/components.ts
  scripts/docgen/src/index.ts
  scripts/docgen/src/parser/usageParser.ts
  scripts/docgen/src/utils/markdown.ts
  tsconfig.json
  website/docs/components/Button.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/FAB.mdx
  website/src/components/Hero.tsx
  website/src/theme/Playground/index.js
  website/static/css/components.css
  website/static/css/custom.css
  yarn.lock
Due: base

add usages examples
  packages/layout/src/Box/Box.usage.tsx
  packages/layout/src/Stack/Stack.usage.tsx
  packages/layout/src/Stack/index.tsx
  scripts/docgen/src/components.ts
  website/docs/layout/Box.mdx
  website/docs/layout/Grid.mdx
  website/docs/layout/GridBase.mdx
  website/docs/layout/GridItemBase.mdx
  website/docs/layout/Stack.mdx
  yarn.lock
Due: none

WIP
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/tsconfig.json
  package.json
  packages/base/package.json
  yarn.lock
Due: base

WIP
  example/App.tsx
  example/package.json
  example/src/components/AppLoading.ts
  example/src/navigation/DrawerNavigator.tsx
  example/src/views/image.tsx
  package.json
  yarn.lock
Due: none

WIP
  example/package.json
  example/src/navigation/DrawerNavigator.tsx
  package.json
  packages/base/package.json
  scripts/docgen/lib/package.json
  scripts/docgen/package.json
  yarn.lock
Due: base

WIP
  example/package.json
  lerna.json
  package.json
  packages/base/.ci/setupTests.ts
  packages/base/babel.config.js
  packages/base/jest.config.ts
  packages/base/package.json
  packages/base/src/Avatar/__tests__/__snapshots__/Accessory.test.tsx.snap
  packages/base/src/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  packages/base/src/Badge/__tests__/__snapshots__/Badge.test.tsx.snap
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/ButtonGroup/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  packages/base/src/Card/__tests__/__snapshots__/Card.test.tsx.snap
  packages/base/src/CheckBox/__tests__/__snapshots__/CheckBox.test.tsx.snap
  packages/base/src/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/base/src/Divider/__tests__/__snapshots__/Divider.test.tsx.snap
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/Header/__tests__/__snapshots__/Header.test.tsx.snap
  packages/base/src/Icon/__tests__/__snapshots__/Icon.test.tsx.snap
  packages/base/src/Image/__tests__/__snapshots__/Image.test.tsx.snap
  packages/base/src/Input/__tests__/__snapshots__/Input.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/ListItem/__tests__/__snapshots__/ListItem.test.tsx.snap
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar-default.test.tsx.snap
  packages/base/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/base/src/Slider/__tests__/__snapshots__/Slider.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/Switch/__tests__/__snapshots__/Switch.test.tsx.snap
  packages/base/src/Tile/__tests__/__snapshots__/FeaturedTile.test.tsx.snap
  packages/base/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/base/src/Tooltip/Tooltip.tsx
  packages/base/src/Tooltip/__tests__/Tooltip.test.tsx
  packages/base/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  packages/base/src/Tooltip/__tests__/__snapshots__/Triangle.test.tsx.snap
  packages/base/tsconfig.json
  scripts/docgen/lib/package.json
  scripts/docgen/package.json
  yarn.lock
Due: base

WIP
  example/package.json
  package.json
  packages/base/.babelrc
  packages/base/babel.config.js
  packages/base/jest.config.ts
  packages/base/src/Chip/__tests__/Chip.test.tsx
  packages/base/src/FAB/__tests__/FAB.test.tsx
  packages/base/src/LinearProgress/__tests__/LinearProgress.test.tsx
  packages/base/src/Slider/__tests__/Slider.test.tsx
  packages/base/src/Switch/__tests__/Switch.test.tsx
  packages/base/src/Tab/__tests__/Tab.test.tsx
  packages/themed/babel.config.js
  packages/themed/jest.config.ts
  packages/themed/package.json
  packages/themed/src/SearchBar/__tests__/__snapshots__/SearchBar.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/Tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/themed/src/Tooltip/__tests__/Tooltip.test.tsx
  packages/themed/src/Tooltip/__tests__/__snapshots__/Tooltip.test.tsx.snap
  scripts/docgen/package.json
  yarn.lock
Due: base, themed

WIP
  README.md
  package.json
  packages/base/.babelrc
  packages/base/babel.config.js
  scripts/docgen/package.json
Due: base

WIP
  scripts/docgen/lib/index.ts
  scripts/docgen/package.json
Due: none

WIP
  package.json
  packages/base/package.json
  yarn.lock
Due: base

WIP
  yarn.lock
Due: none

WIP
  example/package.json
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: none

WIP
  example/babel.config.js
  website/src/components/RunOnExpo.tsx
Due: none

WIP
  package.json
  yarn.lock
Due: none

WIP
  example/babel.config.js
Due: none

WIP
  package.json
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
Due: base

Release 3.4.3
  README.md
  package.json
Due: none

WIP
  website/blog/2022-05-15-rneui-migration-guide.md
  website/docs/migration-guide.md
  website/sidebars.ts
  website/src/pages/migration-guides.md
  website/src/pages/migration/index.mdx
  website/src/pages/migration/migration-v3.mdx
  website/src/theme/Footer.tsx
Due: none

website: create migration guide for v4 (#3717)
  website/blog/2022-05-15-rneui-migration-guide.md
  website/docs/migration-guide.md
  website/sidebars.ts
  website/src/pages/migration-guides.md
  website/src/pages/migration/index.mdx
  website/src/pages/migration/migration-v3.mdx
  website/src/theme/Footer.tsx
Due: none

fix: package dependencies (#3713)
  example/App.tsx
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/components/AppLoading.ts
  example/src/navigation/DrawerNavigator.tsx
  example/src/views/image.tsx
  example/tsconfig.json
  package.json
  packages/base/package.json
  packages/base/src/BottomSheet/__tests__/__snapshots__/BottomSheet.test.tsx.snap
  tsconfig.tsbuildinfo
  website/src/components/RunOnExpo.tsx
  yarn.lock
Due: base
