Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80% #overall project/ repo coverage
      base:
        target: 80%
        flags:
          - base
      themed:
        target: 80%
        flags:
          - themed
      universe:
        target: 80%
        flags:
          - universe

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  require_changes: false

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  base:
    paths: #note, accepts globs, not regexes
      - packages/base/
    carryforward: false
  themed:
    paths: #note, accepts globs, not regexes
      - packages/themed/
    carryforward: true
  universe:
    paths: #note, accepts globs, not regexes
      - packages/universe/
    carryforward: true

WIP
  .github/workflows/dist-preview.yml
Due: none

push
  .github/workflows/dist-preview.yml
Due: none

ci: add PR build preview action (#3565)
  .github/workflows/dist-preview.yml
Due: none

fix(Button): theme spacing xs error (#3563)
  example/src/views/buttons.tsx
  example/src/views/skeleton.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/theme.ts
  packages/themed/src/config/withTheme.tsx
  packages/themed/src/index.ts
Due: base, themed

fix(Tab): indicator with initial index (#3564)
  packages/base/src/Tab/Tab.tsx
Due: base

update tsconfig
  tsconfig.json
Due: none

update text docs
  packages/base/src/Text/Text.tsx
  website/docs/components/Text.mdx
Due: base

Updated Skeleton.md file
  website/versioned_docs/version-4.0.0-rc.5/components/Skeleton.mdx
Due: none
