Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

docs: update live editor code for Skeleton (#3570)
  website/versioned_docs/version-4.0.0-rc.5/components/Skeleton.mdx
Due: none

package.json update
  package.json
Due: none

Add missing import lightColors & darkColors
  website/versioned_docs/version-4.0.0-rc.5/customization/2.theme object.mdx
Due: none

Usage example for Tab Items
  website/versioned_docs/version-4.0.0-rc.5/components/Tab.Item.mdx
Due: none

chore: update contributor image
  README.md
Due: none

fix: typo when exporting colors types
  packages/themed/src/config/index.ts
Due: themed

Update index.ts
  packages/themed/src/config/index.ts
Due: themed

fix: typo when exporting colors types (#3580)
  packages/themed/src/config/index.ts
Due: themed

update createtheme
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
Due: themed

update docs
  example/App.tsx
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themprovider.mdx
  website/docs/customization/3.typescript.mdx
Due: none

WIP
  packages/base/src/helpers/index.tsx
Due: base

update docs
  website/docs/component_usage/Chip.mdx
  website/docs/component_usage/ListItem.mdx
  website/docs/component_usage/PricingCard.mdx
  website/docs/component_usage/Tooltip.mdx
Due: none

update in migration guide
  website/blog/2022-05-15-rneui-migration-guide.md
Due: none

fix: add children as prop (#3583)
  packages/base/src/helpers/index.tsx
Due: base

docs: rename colors to lightColors (#3584)
  website/blog/2022-05-15-rneui-migration-guide.md
  website/docs/component_usage/Chip.mdx
  website/docs/component_usage/ListItem.mdx
  website/docs/component_usage/PricingCard.mdx
  website/docs/component_usage/Tooltip.mdx
Due: none

update docs
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  website/docs/components/Skeleton.mdx
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/src/theme/Playground/index.js
Due: base

docs: usage example for Tab Items (#3576)
  packages/base/src/Skeleton/Skeleton.tsx
  packages/base/src/Tab/Tab.Item.tsx
  packages/base/src/Tab/Tab.tsx
  website/docs/components/Skeleton.mdx
  website/docs/components/Tab.Item.mdx
  website/docs/components/Tab.mdx
  website/src/theme/Playground/index.js
  website/versioned_docs/version-4.0.0-rc.5/components/Tab.Item.mdx
Due: base

add
  example/src/views/buttons.tsx
  example/src/views/checkbox.tsx
Due: none

WIP
  example/src/views/buttons.tsx
  example/src/views/checkbox.tsx
  packages/base/.ci/testHelper.tsx
  packages/base/src/Switch/Switch.tsx
  scripts/docgen/parentProps.ts
  website/docs/components/Switch.mdx
Due: base

WIP
  packages/base/src/Switch/Switch.tsx
  website/docs/components/Switch.mdx
  website/src/theme/Playground/index.js
  website/src/theme/ReactLiveScope/index.js
Due: base

fix(Switch): Android throws an error when setting it to false (#3601)
  example/src/views/buttons.tsx
  example/src/views/checkbox.tsx
  packages/base/.ci/testHelper.tsx
  packages/base/src/Switch/Switch.tsx
  scripts/docgen/parentProps.ts
  website/docs/components/Switch.mdx
  website/src/theme/Playground/index.js
  website/src/theme/ReactLiveScope/index.js
Due: base

Update tests
  packages/themed/.ci/testHelper.tsx
  packages/themed/src/Avatar/__tests__/Avatar.test.tsx
  packages/themed/src/Badge/__tests__/Badge.test.tsx
  packages/themed/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/themed/src/Button/__tests__/Button.test.tsx
  packages/themed/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
  packages/themed/src/CheckBox/__tests__/CheckBox.test.tsx
  packages/themed/src/Dialog/__tests__/Dialog.test.tsx
  packages/themed/src/Divider/__tests__/Divider.test.tsx
  packages/themed/src/FAB/__tests__/FAB.test.tsx
  packages/themed/src/Header/__tests__/Header.test.tsx
  packages/themed/src/Icon/__tests__/Icon.test.tsx
  packages/themed/src/Image/__tests__/Image.test.tsx
  packages/themed/src/Input/__tests__/Input.test.tsx
  packages/themed/src/LinearProgress/__tests__/LinearProgress.test.tsx
  packages/themed/src/ListItem/__tests__/ListItem.test.tsx
  packages/themed/src/Overlay/__tests__/Overlay.test.tsx
  packages/themed/src/PricingCard/__tests__/PricingCard.test.tsx
  packages/themed/src/SearchBar/__tests__/SearchBar.test.tsx
  packages/themed/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/themed/src/Slider/__tests__/Slider.test.tsx
  packages/themed/src/SocialIcon/__tests__/SocialIcon.test.tsx
  packages/themed/src/Switch/__tests__/Switch.test.tsx
  packages/themed/src/Text/__tests__/Text.test.tsx
  packages/themed/src/Tile/__tests__/FeaturedTile.test.tsx
  packages/themed/src/Tile/__tests__/Tile.test.tsx
  packages/themed/src/Tooltip/__tests__/Tooltip.test.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/withTheme.tsx
Due: themed

WIP
  tsconfig.json
Due: none

WIP
  website/playground/BottomSheet/bottomsheet.playground.tsx
Due: none

fix: dist output target (#3603)
  tsconfig.json
Due: none

docs: BottomSheet playground (#3602)
  website/playground/BottomSheet/bottomsheet.playground.tsx
Due: none

update blog
  website/blog/2022-05-15-rneui-migration-guide.md
Due: none

feat(ThemeProvider)!: restructure default component theme (#3582)
  example/App.tsx
  packages/themed/.ci/testHelper.tsx
  packages/themed/src/Avatar/__tests__/Avatar.test.tsx
  packages/themed/src/Badge/__tests__/Badge.test.tsx
  packages/themed/src/BottomSheet/__tests__/BottomSheet.test.tsx
  packages/themed/src/Button/__tests__/Button.test.tsx
  packages/themed/src/ButtonGroup/__tests__/ButtonGroup.test.tsx
  packages/themed/src/CheckBox/__tests__/CheckBox.test.tsx
  packages/themed/src/Dialog/__tests__/Dialog.test.tsx
  packages/themed/src/Divider/__tests__/Divider.test.tsx
  packages/themed/src/FAB/__tests__/FAB.test.tsx
  packages/themed/src/Header/__tests__/Header.test.tsx
  packages/themed/src/Icon/__tests__/Icon.test.tsx
  packages/themed/src/Image/__tests__/Image.test.tsx
  packages/themed/src/Input/__tests__/Input.test.tsx
  packages/themed/src/LinearProgress/__tests__/LinearProgress.test.tsx
  packages/themed/src/ListItem/__tests__/ListItem.test.tsx
  packages/themed/src/Overlay/__tests__/Overlay.test.tsx
  packages/themed/src/PricingCard/__tests__/PricingCard.test.tsx
  packages/themed/src/SearchBar/__tests__/SearchBar.test.tsx
  packages/themed/src/Skeleton/__tests__/Skeleton.test.tsx
  packages/themed/src/Slider/__tests__/Slider.test.tsx
  packages/themed/src/SocialIcon/__tests__/SocialIcon.test.tsx
  packages/themed/src/Switch/__tests__/Switch.test.tsx
  packages/themed/src/Text/__tests__/Text.test.tsx
  packages/themed/src/Tile/__tests__/FeaturedTile.test.tsx
  packages/themed/src/Tile/__tests__/Tile.test.tsx
  packages/themed/src/Tooltip/__tests__/Tooltip.test.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  packages/themed/src/config/__tests__/withTheme.test.tsx
  packages/themed/src/config/withTheme.tsx
  website/blog/2022-05-15-rneui-migration-guide.md
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themprovider.mdx
  website/docs/customization/3.typescript.mdx
Due: themed

WIP
  scripts/release/index.ts
Due: none

WIP
  example/App.tsx
  example/src/views/buttons.tsx
  packages/base/CHANGELOG.md
  packages/base/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: base, themed

update lock
  packages/base/package.json
  packages/themed/package.json
  yarn.lock
Due: base, themed

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
