Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

update
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/helpers/index.tsx
Due: base

update
  example/App.tsx
  example/tsconfig.json
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.ts
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themprovider.mdx
  website/docs/customization/2.theme object.mdx
  website/docs/customization/3.typescript.mdx
  website/docs/customization/4.pitfall.mdx
  website/docs/customization/Color.tsx
  website/docs/customization/components.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docusaurus.config.js
Due: themed

update
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themprovider.mdx
  website/docs/customization/2.theme object.mdx
  website/docs/customization/3.typescript.mdx
  website/docs/customization/4.pitfall.mdx
  website/docs/customization/Color.tsx
  website/docusaurus.config.js
Due: none

docs: update extend theme docs (#3497)
  website/docs/customization/0.index.mdx
  website/docs/customization/1.themprovider.mdx
  website/docs/customization/2.theme object.mdx
  website/docs/customization/3.typescript.mdx
  website/docs/customization/4.pitfall.mdx
  website/docs/customization/Color.tsx
  website/docusaurus.config.js
Due: none

example: add webpack config (#3492)
  example/App.tsx
  example/README.md
  example/app.json
  example/eas.json
  example/package.json
  example/src/components/header.tsx
  example/webpack.config.js
  package.json
  packages/base/package.json
  yarn.lock
Due: base

website: improve footer & sidebar styling
  website/docs/customization/color.mdx
  website/docs/customization/components.mdx
  website/docs/customization/index.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docs/troubleshooting.mdx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
Due: none

website: improve footer & sidebar styling (#3498)
  website/docs/customization/color.mdx
  website/docs/customization/components.mdx
  website/docs/customization/index.mdx
  website/docs/customization/pitfall.mdx
  website/docs/customization/theming.mdx
  website/docs/customization/typescript.mdx
  website/docs/troubleshooting.mdx
  website/src/theme/Footer.tsx
  website/static/css/custom.css
Due: none

update
  packages/base/src/Button/Button.tsx
  packages/base/src/Skeleton/Skeleton.tsx
  website/docs/components/Button.mdx
  website/docs/components/Skeleton.mdx
  website/docusaurus.config.js
  website/package.json
  website/plugins/react-native-elements-web.js
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/src/theme/ReactLiveScope/index.js
  website/versioned_docs/version-4.0.0-rc.2/components/Skeleton.mdx
  website/yarn.lock
Due: base

update
  website/package.json
  website/yarn.lock
Due: none

website: add Live Preview (#3500)
  packages/base/src/Button/Button.tsx
  packages/base/src/Skeleton/Skeleton.tsx
  website/docs/components/Button.mdx
  website/docs/components/Skeleton.mdx
  website/docusaurus.config.js
  website/package.json
  website/plugins/react-native-elements-web.js
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
  website/src/theme/ReactLiveScope/index.js
  website/versioned_docs/version-4.0.0-rc.2/components/Skeleton.mdx
  website/yarn.lock
Due: base

update
  example/src/navigation/RootNavigator.tsx
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
Due: base

update
  website/docs/playground/Divider/divider.playground.tsx
  website/docs/playground/Switch/switch.playground.tsx
  website/docusaurus.config.js
  website/sidebars.ts
  website/src/components/Footer.tsx
  website/src/theme/ColorModeToggle/index.js
  website/versions.json
Due: none

update
  website/docs/playground/Tile/tile.playground.tsx
Due: none

update
  website/docs/playground/Switch/switch.playground.tsx
  website/plugins/react-native-elements-web.js
  website/src/components/Footer.tsx
Due: none

update
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

docs
  website/docs/components/ListItem.Accordion.mdx
Due: none

update test
  example/src/views/lists2.tsx
  packages/base/src/ListItem/__tests__/ListItem.test.tsx
Due: base

fix(ListItem): custom Icon for Accordion (#3504)
  example/src/views/lists2.tsx
  packages/base/src/ListItem/ListItem.Accordion.tsx
  packages/base/src/ListItem/__tests__/ListItem.test.tsx
  website/docs/components/ListItem.Accordion.mdx
Due: base

update
  packages/base/src/Tab/Tab.tsx
Due: base

update
  packages/base/src/Text/Text.tsx
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/mdx-template.hbs
  website/docs/component_usage/Text.mdx
  website/docs/components/AirbnbRating.mdx
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Card.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/Divider.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/Input.mdx
  website/docs/components/LinearProgress.mdx
  website/docs/components/ListItem.Accordion.mdx
  website/docs/components/ListItem.Swipeable.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/Overlay.mdx
  website/docs/components/PricingCard.mdx
  website/docs/components/Rating.mdx
  website/docs/components/SearchBar.mdx
  website/docs/components/Slider.mdx
  website/docs/components/SocialIcon.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/docs/components/Text.mdx
  website/docs/components/Tile.mdx
  website/docs/components/Tooltip.mdx
Due: base

fix(Tab): indicator on first render (#3505)
  packages/base/src/Tab/Tab.tsx
Due: base

docs: add fontWeight for Text on android (#3506)
  packages/base/src/Text/Text.tsx
  scripts/docgen/generateMarkdown.ts
  scripts/docgen/mdx-template.hbs
  website/docs/component_usage/Text.mdx
  website/docs/components/AirbnbRating.mdx
  website/docs/components/Avatar.mdx
  website/docs/components/Badge.mdx
  website/docs/components/BottomSheet.mdx
  website/docs/components/Button.mdx
  website/docs/components/ButtonGroup.mdx
  website/docs/components/Card.mdx
  website/docs/components/CheckBox.mdx
  website/docs/components/Chip.mdx
  website/docs/components/Dialog.mdx
  website/docs/components/Divider.mdx
  website/docs/components/FAB.mdx
  website/docs/components/Header.mdx
  website/docs/components/Icon.mdx
  website/docs/components/Image.mdx
  website/docs/components/Input.mdx
  website/docs/components/LinearProgress.mdx
  website/docs/components/ListItem.Accordion.mdx
  website/docs/components/ListItem.Swipeable.mdx
  website/docs/components/ListItem.mdx
  website/docs/components/Overlay.mdx
  website/docs/components/PricingCard.mdx
  website/docs/components/Rating.mdx
  website/docs/components/SearchBar.mdx
  website/docs/components/Slider.mdx
  website/docs/components/SocialIcon.mdx
  website/docs/components/SpeedDial.mdx
  website/docs/components/Switch.mdx
  website/docs/components/Tab.mdx
  website/docs/components/TabView.mdx
  website/docs/components/Text.mdx
  website/docs/components/Tile.mdx
  website/docs/components/Tooltip.mdx
Due: base

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update README.md
  README.md
Due: none

update
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/helpers/index.tsx
  website/docs/components/Button.mdx
Due: base

update
  example/package.json
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/helpers/colors.ts
  packages/base/src/helpers/index.tsx
  website/docs/components/Button.mdx
  website/package.json
  website/src/theme/Playground/index.js
  website/src/theme/ReactLiveScope/index.js
  website/yarn.lock
  yarn.lock
Due: base

update
  packages/base/src/FAB/FAB.tsx
Due: base

update
  website/docs/installation.mdx
  website/docusaurus.config.js
  website/static/css/custom.css
Due: none

chore: website version label `edge` (#3508)
  website/docs/installation.mdx
  website/docusaurus.config.js
  website/static/css/custom.css
Due: none

website: add SEO img & tags
  website/docusaurus.config.js
  website/static/img/website/seo.png
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
