Repository react-native-elements/react-native-elements: changes, and which Codecov flags are due for each by the changed paths.
All: base, themed, universe

website: add SEO img & tags (#3509)
  website/docusaurus.config.js
  website/static/img/website/seo.png
Due: none

add
  packages/base/src/helpers/index.tsx
  packages/base/src/helpers/makeStyle.ts
Due: base

rename
  README.md
  packages/base/src/helpers/index.tsx
  packages/base/src/helpers/makeStyles.ts
Due: base

feat(Tooltip): add `animationType` prop (#3487)
  packages/base/src/Tooltip/Tooltip.tsx
  website/docs/components/Tooltip.mdx
Due: base

fix(Icon): raised ios shadow issue (#3491)
  packages/base/src/Icon/Icon.tsx
  packages/base/src/Icon/__tests__/__snapshots__/Icon.test.tsx.snap
Due: base

feat(base): add makeStyles (#3510)
  packages/base/src/helpers/index.tsx
  packages/base/src/helpers/makeStyles.ts
Due: base

fix(ButtonGroup) - render correctly in vertical mode (#3432)
  packages/base/src/ButtonGroup/ButtonGroup.tsx
Due: base

update tests
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  packages/themed/src/config/theme.ts
Due: base, themed

feat(theming): add `spacing` to theme (#3495)
  example/tsconfig.json
  packages/base/src/helpers/index.tsx
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/__tests__/ThemeProvider.test.tsx
  packages/themed/src/config/__tests__/makeStyles.test.tsx
  packages/themed/src/config/index.ts
  packages/themed/src/config/makeStyles.ts
  packages/themed/src/config/theme.ts
Due: base, themed

update
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
Due: base

update
  packages/base/src/Button/Button.tsx
  packages/base/src/PricingCard/components/PricingButton.tsx
Due: base

docs
  website/docs/components/Button.mdx
Due: none

update
  packages/base/src/Button/__tests__/Button.test.tsx
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
Due: base, themed

revert nav
  example/src/navigation/RootNavigator.tsx
Due: none

update
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/Chip/Chip.tsx
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  website/docs/components/Button.mdx
Due: base, themed

move to edge
  website/package.json
  website/yarn.lock
Due: none

feat(Button): add title as children,`size`, `color`, `radius` prop (#3494)
  example/package.json
  example/src/views/buttons.tsx
  packages/base/src/Button/Button.tsx
  packages/base/src/Button/__tests__/Button.test.tsx
  packages/base/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/base/src/Chip/Chip.tsx
  packages/base/src/FAB/FAB.tsx
  packages/base/src/FAB/__tests__/__snapshots__/FAB.test.tsx.snap
  packages/base/src/LinearProgress/__tests__/__snapshots__/LinearProgress.test.tsx.snap
  packages/base/src/PricingCard/__tests__/__snapshots__/PricingCard.test.tsx.snap
  packages/base/src/PricingCard/components/PricingButton.tsx
  packages/base/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/base/src/helpers/colors.ts
  packages/base/src/helpers/index.tsx
  packages/themed/src/SpeedDial/__tests__/__snapshots__/SpeedDial.test.tsx.snap
  packages/themed/src/config/ThemeProvider.tsx
  packages/themed/src/config/withTheme.tsx
  website/docs/components/Button.mdx
  website/package.json
  website/src/theme/Playground/index.js
  website/src/theme/ReactLiveScope/index.js
  website/yarn.lock
  yarn.lock
Due: base, themed

update blog
  website/blog/2021-08-23-google-summer-of-code-arpitBhalla.md
  website/blog/2022-05-15-rneui-migration-guide.md
  website/blog/authors.yml
  website/docs/migration-guide.md
Due: none

update twitter
  packages/base/README.md
  packages/themed/README.md
Due: base, themed

prettier
  packages/base/package.json
  packages/themed/package.json
Due: base, themed

website: update v4 blog (#3511)
  packages/base/README.md
  packages/themed/README.md
  website/blog/2021-08-23-google-summer-of-code-arpitBhalla.md
  website/blog/2022-05-15-rneui-migration-guide.md
  website/blog/authors.yml
  website/docs/migration-guide.md
Due: base, themed

bump version
  yarn.lock
Due: none

dialog box action button issue - web
  packages/base/src/Dialog/Dialog.Button.tsx
Due: base

action button overflow - modal issue
  packages/base/src/Dialog/Dialog.Actions.tsx
  packages/base/src/Dialog/Dialog.Button.tsx
Due: base

fix(ListItem) Accordion children areas were not hidden
  example/src/views/lists2.tsx
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

fix(ListItem): Accordion children areas were not hidden (#3517)
  example/src/views/lists2.tsx
  packages/base/src/ListItem/ListItem.Accordion.tsx
Due: base

fix(Dialog): Action button on web (#3514)
  packages/base/src/Dialog/Dialog.Actions.tsx
Due: base

SearchBar - platform android - onCancel called twice issue
  packages/base/src/SearchBar/SearchBar-android.tsx
  packages/base/src/SearchBar/__tests__/SearchBar.test.tsx
Due: base

update
  website/docusaurus.config.js
  website/package.json
  website/src/theme/ReactLiveScope/index.js
  website/yarn.lock
Due: none

website: add new appId & apiKey (#3522)
  website/docusaurus.config.js
  website/package.json
  website/src/theme/ReactLiveScope/index.js
  website/yarn.lock
Due: none

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  base: any of: packages/base/
  themed: any of: packages/themed/
  universe: any of: packages/universe/
